dev/com.ibm.ws.jaxws.ejb_fat/test-applications/EJBInWarServiceClient/resources/META-INF/resources/wsdl/SayHelloPOJOService.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ejb.ejbinwar.jaxws.ws.ibm.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="SayHelloPOJOService" targetNamespace="http://ejb.ejbinwar.jaxws.ws.ibm.com/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ejb.ejbinwar.jaxws.ws.ibm.com/" elementFormDefault="unqualified" targetNamespace="http://ejb.ejbinwar.jaxws.ws.ibm.com/" version="1.0">
<xs:element name="invokeOther" type="tns:invokeOther"></xs:element>
<xs:element name="invokeOtherResponse" type="tns:invokeOtherResponse"></xs:element>
<xs:element name="sayHello" type="tns:sayHello"></xs:element>
<xs:element name="sayHelloResponse" type="tns:sayHelloResponse"></xs:element>
<xs:complexType name="sayHello">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="sayHelloResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="invokeOther">
    <xs:sequence></xs:sequence>
  </xs:complexType>
<xs:complexType name="invokeOtherResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>  </wsdl:types>
  <wsdl:message name="sayHello">
    <wsdl:part element="tns:sayHello" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="invokeOther">
    <wsdl:part element="tns:invokeOther" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sayHelloResponse">
    <wsdl:part element="tns:sayHelloResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="invokeOtherResponse">
    <wsdl:part element="tns:invokeOtherResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SayHello">
    <wsdl:operation name="sayHello">
      <wsdl:input message="tns:sayHello" name="sayHello">
    </wsdl:input>
      <wsdl:output message="tns:sayHelloResponse" name="sayHelloResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="invokeOther">
      <wsdl:input message="tns:invokeOther" name="invokeOther">
    </wsdl:input>
      <wsdl:output message="tns:invokeOtherResponse" name="invokeOtherResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SayHelloPOJOServiceSoapBinding" type="tns:SayHello">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <wsdl:operation name="sayHello">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="sayHello">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="sayHelloResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="invokeOther">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="invokeOther">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="invokeOtherResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SayHelloPOJOService">
    <wsdl:port binding="tns:SayHelloPOJOServiceSoapBinding" name="SayHelloPOJOPort">
      <soap:address location="http://localhost:8010/EJBInWarService/SayHelloPOJOService"></soap:address>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>