dev/com.ibm.ws.jaxb_fat/publish/servers/jaxb_thridpartyimpl_fat/schemaEE10.xml

<xsd:schema xmlns:ns0="http://jaxb.web.dataobjects/" xmlns:ref="http://ws-i.org/profiles/basic/1.1/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://jaxb.web.dataobjects/" elementFormDefault="qualified">
   <xsd:import schemaLocation="http://ws-i.org/profiles/basic/1.1/swaref.xsd" namespace="http://ws-i.org/profiles/basic/1.1/xsd"/>
   <xsd:complexType name="Image">
      <xsd:sequence>
         <xsd:element name="name" type="xsd:string" minOccurs="0"/>
         <xsd:element name="imageHandler" type="ref:swaRef" minOccurs="0" xmlns:ns1="http://www.w3.org/2005/05/xmlmime" ns1:expectedContentTypes="application/octet-stream"/>
         <xsd:element name="imageBytes" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Items">
      <xsd:sequence>
         <xsd:element name="item" maxOccurs="unbounded">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="productName" type="xsd:string"/>
                  <xsd:element name="quantity" type="xsd:int"/>
                  <xsd:element name="Price" type="xsd:decimal"/>
                  <xsd:element name="comment" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="shipDate" type="xsd:date" minOccurs="0"/>
               </xsd:sequence>
               <xsd:attribute name="partNum" type="xsd:string" use="required"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="itemNames" minOccurs="0">
            <xsd:simpleType>
               <xsd:list itemType="xsd:string"/>
            </xsd:simpleType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="PurchaseOrderType">
      <xsd:sequence>
         <xsd:element name="shipTo" type="ns0:ShippingAddress"/>
         <xsd:element name="billTo" type="ns0:ShippingAddress"/>
         <xsd:element name="comment" type="xsd:string" minOccurs="0"/>
         <xsd:element name="items" type="ns0:Items"/>
      </xsd:sequence>
      <xsd:attribute name="orderDate" type="xsd:date"/>
   </xsd:complexType>
   <xsd:complexType name="ShippingAddress">
      <xsd:sequence>
         <xsd:element name="name" type="xsd:string"/>
         <xsd:element name="street" type="xsd:string"/>
         <xsd:element name="city" type="xsd:string"/>
         <xsd:element name="state" type="xsd:string"/>
         <xsd:element name="zip" type="xsd:decimal"/>
      </xsd:sequence>
      <xsd:attribute name="country" type="xsd:NMTOKEN"/>
   </xsd:complexType>
   <xsd:element name="items" type="ns0:Items"/>
   <xsd:element name="Items" type="ns0:Items"/>
   <xsd:element name="Image" type="ns0:Image"/>
   <xsd:element name="PurchaseOrderType" type="ns0:PurchaseOrderType"/>
   <xsd:element name="ShippingAddress" type="ns0:ShippingAddress"/>
</xsd:schema>