dev/io.openliberty.jaxws_fat/test-applications/defaultpackage/resources/WEB-INF/SimpleWebSvc.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SimpleWebSvc" targetNamespace="http://jaxws.basic.cxf.fats" 
    xmlns="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:tns="http://jaxws.basic.cxf.fats"
    xmlns:x1="http://jaxws.basic.cxf.fats/types"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
        <schema targetNamespace="http://jaxws.basic.cxf.fats/types" 
            xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
            <element name="getVer">
                <complexType>
                    <sequence>
                        <element name="requestType" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="getVerResponse">
                <complexType>
                    <sequence>
                        <element name="responseType" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
   	    <element name="faultDetail">
		<complexType>
			<sequence>
				<element name="minor" type="xsd:short"/>
				<element name="major" type="xsd:short"/>
			</sequence>
		</complexType>
	    </element>
        </schema>
    </wsdl:types>

    <wsdl:message name="getVerRequest">
        <wsdl:part element="x1:getVer" name="in"/>
    </wsdl:message>
    <wsdl:message name="getVerResponse">
        <wsdl:part element="x1:getVerResponse" name="out"/>
    </wsdl:message>

    <wsdl:portType name="SimpleService">
        <wsdl:operation name="invoke">
            <wsdl:input message="tns:getVerRequest" name="getVerRequest"/>
            <wsdl:output message="tns:getVerResponse" name="getVerResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SimpleService_SOAPBinding" type="tns:SimpleService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        
        <wsdl:operation name="invoke">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getVerRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getVerResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        
    </wsdl:binding>
    
    <wsdl:service name="SOAPService1">
        <wsdl:port binding="tns:SimpleService_SOAPBinding" name="SoapPort1">
            <soap:address location="http://localhost:8010/jaxws/SOAPService1"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>

