dev/com.ibm.ws.wsat.common_fat/test-applications/testCoordinator/resources/WEB-INF/wsdl/WSATTestService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI IBM 2.2.1-07/09/2014 01:52 PM(foreman)-. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" name="WSATTestService" targetNamespace="http://service.part.wsat.ws.ibm.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.part.wsat.ws.ibm.com/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsat="http://docs.oasis-open.org/ws-tx/wsat/2006/06" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://service.part.wsat.ws.ibm.com/" schemaLocation="WSATTestService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="init">
    <part element="tns:init" name="parameters"/>
  </message>
  <message name="initResponse">
    <part element="tns:initResponse" name="parameters"/>
  </message>
  <message name="query">
    <part element="tns:query" name="parameters"/>
  </message>
  <message name="queryResponse">
    <part element="tns:queryResponse" name="parameters"/>
  </message>
  <message name="set">
    <part element="tns:set" name="parameters"/>
  </message>
  <message name="setResponse">
    <part element="tns:setResponse" name="parameters"/>
  </message>
  <portType name="WSATTest">
    <operation name="init">
      <input message="tns:init" wsam:Action="http://service.part.wsat.ws.ibm.com/WSATTest/initRequest"/>
      <output message="tns:initResponse" wsam:Action="http://service.part.wsat.ws.ibm.com/WSATTest/initResponse"/>
    </operation>
    <operation name="query">
      <input message="tns:query" wsam:Action="http://service.part.wsat.ws.ibm.com/WSATTest/queryRequest"/>
      <output message="tns:queryResponse" wsam:Action="http://service.part.wsat.ws.ibm.com/WSATTest/queryResponse"/>
    </operation>
    <operation name="set">
      <input message="tns:set" wsam:Action="http://service.part.wsat.ws.ibm.com/WSATTest/setRequest"/>
      <output message="tns:setResponse" wsam:Action="http://service.part.wsat.ws.ibm.com/WSATTest/setResponse"/>
    </operation>
  </portType>
  <binding name="WSATTestPortBinding" type="tns:WSATTest">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="init">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="query">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="set">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="WSATTestService">
    <port binding="tns:WSATTestPortBinding" name="WSATTestPort">
      <soap:address location="http://localhost:9080/com.ibm.ws.wsat.common_fat/WSATTestService"/>
    </port>
  </service>
</definitions>
