dev/com.ibm.ws.jaxws.cdi_fat/test-applications/simpleTestService/resources/WEB-INF/wsdl/SimpleImplService_schema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://impl.service.cdi.jaxws.ws.ibm.com/" version="1.0" xmlns:tns="http://impl.service.cdi.jaxws.ws.ibm.com/">

  <xs:element name="echo" type="tns:echo"/>

  <xs:element name="echoResponse" type="tns:echoResponse"/>

  <xs:complexType name="echo">
    <xs:sequence>
    	<xs:element name="arg0" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="echoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>