dev/com.ibm.ws.wssecurity_fat.wsscxf.1/test-applications/webcontentprovider/resources/WEB-INF/Echo.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
# COPYRIGHT LICENSE: 
# This information contains sample code provided in source code form. You may 
# copy, modify, and distribute these sample programs in any form without 
# payment to IBM for the purposes of developing, using, marketing or 
# distributing application programs conforming to the application programming
# interface for the operating platform for which the sample code is written. 
# Notwithstanding anything to the contrary, IBM PROVIDES THE SAMPLE SOURCE CODE
# ON AN "AS IS" BASIS AND IBM DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, 
# INCLUDING, BUT NOT LIMITED TO, ANY IMPLIED WARRANTIES OR CONDITIONS OF 
# MERCHANTABILITY, SATISFACTORY QUALITY, FITNESS FOR A PARTICULAR PURPOSE, 
# TITLE, AND ANY WARRANTY OR CONDITION OF NON-INFRINGEMENT. IBM SHALL NOT BE 
# LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL OR CONSEQUENTIAL DAMAGES
# ARISING OUT OF THE USE OR OPERATION OF THE SAMPLE SOURCE CODE. IBM HAS NO 
# OBLIGATION TO PROVIDE MAINTENANCE, SUPPORT, UPDATES, ENHANCEMENTS OR 
# MODIFICATIONS TO THE SAMPLE SOURCE CODE.
 -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:wsp="http://www.w3.org/ns/ws-policy"
        xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
        xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
        xmlns:sp13="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200802"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:tns="http://com/ibm/was/cxfsample/sei/echo/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="webcontentprovider"
        targetNamespace="http://com/ibm/was/cxfsample/sei/echo/">
        <wsp:Policy wsu:Id="WsAddressingPolicy">
            <wsp:ExactlyOne>
                <wsp:All>
                    <wsaws:UsingAddressing xmlns:wsaws="http://www.w3.org/2006/05/addressing/wsdl" />
                    <sp:SupportingTokens>
                        <wsp:Policy>
                            <sp:UsernameToken
                                sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                                <wsp:Policy>
                                   <sp:WssUsernameToken11/>
                                   <sp13:Created/>
                                </wsp:Policy>                                
                            </sp:UsernameToken>
                        </wsp:Policy>
                    </sp:SupportingTokens>
                </wsp:All>
            </wsp:ExactlyOne>
        </wsp:Policy>
        <wsdl:types>
                <xsd:schema
                        targetNamespace="http://com/ibm/was/cxfsample/sei/echo/"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">


                        <xsd:element name="echoStringResponse">
                                <xsd:complexType>
                                        <xsd:sequence>
                                                <xsd:element name="echoResponse"
                                                        type="xsd:string" />
                                        </xsd:sequence>
                                </xsd:complexType>
                        </xsd:element>

                        <xsd:element name="echoStringInput">
                                <xsd:complexType>
                                        <xsd:sequence>
                                                <xsd:element name="echoInput" type="xsd:string" />
                                        </xsd:sequence>
                                </xsd:complexType>
                        </xsd:element>

                </xsd:schema>
        </wsdl:types>
        <wsdl:message name="echoOperationRequest">
                <wsdl:part element="tns:echoStringInput" name="parameter" />
        </wsdl:message>
        <wsdl:message name="echoOperationResponse">
                <wsdl:part element="tns:echoStringResponse" name="parameter" />
        </wsdl:message>
        <wsdl:portType name="EchoServicePortType">

                <wsdl:operation name="echoOperation">
                        <wsdl:input message="tns:echoOperationRequest" />
                        <wsdl:output message="tns:echoOperationResponse" />
                </wsdl:operation>
        </wsdl:portType>
        <wsdl:binding name="EchoSOAP" type="tns:EchoServicePortType">
                <wsp:PolicyReference URI="#WsAddressingPolicy"/>
                <soap:binding style="document"
                        transport="http://schemas.xmlsoap.org/soap/http" />
                <wsdl:operation name="echoOperation">
                        <soap:operation soapAction="echoOperation" style="document" />
                        <wsdl:input>
                                <soap:body use="literal" />
                        </wsdl:input>
                        <wsdl:output>
                                <soap:body use="literal" />
                        </wsdl:output>
                </wsdl:operation>
        </wsdl:binding>
        <wsdl:service name="EchoService">
                <wsdl:port binding="tns:EchoSOAP" name="EchoServicePort">
                        <soap:address
                                location="http://localhost:8010/webcontentprovider/EchoService" />
                </wsdl:port>
        </wsdl:service>
</wsdl:definitions>
