dev/com.ibm.ws.wssecurity_fat.wsscxf/test-applications/untoken/resources/WEB-INF/UsrTokenWebSvc.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="UsrTokenWebSvc" targetNamespace="http://wssec.basic.cxf.fats" 
    xmlns="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:tns="http://wssec.basic.cxf.fats"
    xmlns:x1="http://wssec.basic.cxf.fats/types"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
    xmlns:wsp="http://www.w3.org/ns/ws-policy"
    xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
    xmlns:sp13="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200802"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <!-- UsernameToken with plain text password -->
    <wsp:Policy wsu:Id="UserNameToken1">
        <sp:SupportingTokens>
            <wsp:Policy>
                <sp:UsernameToken
                    sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                    <wsp:Policy>
                       <sp:WssUsernameToken11/>
                    </wsp:Policy>
                </sp:UsernameToken>
            </wsp:Policy>
        </sp:SupportingTokens>
    </wsp:Policy>
    
    <!-- UsernameToken with plain text password and Nonce and Created -->
    <wsp:Policy wsu:Id="NonceUnameToken1">
        <sp:SupportingTokens>
            <wsp:Policy>
                <sp:UsernameToken
                    sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                    <wsp:Policy>
                       <sp13:Created/>
                       <sp13:Nonce/>
                       <sp:WssUsernameToken11/>
                    </wsp:Policy>
                </sp:UsernameToken>
            </wsp:Policy>
        </sp:SupportingTokens>
    </wsp:Policy>

    <wsdl:types>
        <schema targetNamespace="http://wssec.basic.cxf.fats/types" 
            xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
            <element name="getVer">
                <complexType>
                    <sequence>
                        <element name="requestType" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="getVerResponse">
                <complexType>
                    <sequence>
                        <element name="responseType" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
   	    <element name="faultDetail">
		<complexType>
			<sequence>
				<element name="minor" type="xsd:short"/>
				<element name="major" type="xsd:short"/>
			</sequence>
		</complexType>
	    </element>
        </schema>
    </wsdl:types>

    <wsdl:message name="getVerRequest">
        <wsdl:part element="x1:getVer" name="in"/>
    </wsdl:message>
    <wsdl:message name="getVerResponse">
        <wsdl:part element="x1:getVerResponse" name="out"/>
    </wsdl:message>

    <wsdl:portType name="UsrToken">
        <wsdl:operation name="invoke">
            <wsdl:input message="tns:getVerRequest" name="getVerRequest"/>
            <wsdl:output message="tns:getVerResponse" name="getVerResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <wsdl:binding name="UsrToken_SOAPBinding" type="tns:UsrToken">
       <wsp:PolicyReference URI="#UserNameToken1" />
       <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
       <wsdl:operation name="invoke">
          <soap:operation soapAction="" style="document"/>
          <wsdl:input name="getVerRequest">
              <soap:body use="literal"/>
          </wsdl:input>
          <wsdl:output name="getVerResponse">
              <soap:body use="literal"/>
          </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    
    <wsdl:binding name="Nonce_SOAPBinding" type="tns:UsrToken">
       <wsp:PolicyReference URI="#NonceUnameToken1" />
       <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
       <wsdl:operation name="invoke">
          <soap:operation soapAction="" style="document"/>
          <wsdl:input name="getVerRequest">
              <soap:body use="literal"/>
          </wsdl:input>
          <wsdl:output name="getVerResponse">
              <soap:body use="literal"/>
          </wsdl:output>
       </wsdl:operation>
    </wsdl:binding>
    
    <wsdl:service name="SOAPService2">
       <wsdl:port binding="tns:UsrToken_SOAPBinding" name="SoapPort2">
          <soap:address location="http://localhost:8010/untoken/SOAPService2"/>
       </wsdl:port>
    </wsdl:service>
    
    <wsdl:service name="SOAPService3">
       <wsdl:port binding="tns:Nonce_SOAPBinding" name="SoapPort3">
          <soap:address location="http://localhost:8010/untoken/SOAPService3"/>
       </wsdl:port>
    </wsdl:service>
    
    <wsdl:service name="SOAPService4">
       <wsdl:port binding="tns:Nonce_SOAPBinding" name="SoapPort4">
          <soap:address location="http://localhost:8010/untoken/SOAPService4"/>
       </wsdl:port>
    </wsdl:service>
    
    <wsdl:service name="SOAPService5">
       <wsdl:port binding="tns:UsrToken_SOAPBinding" name="SoapPort5">
          <soap:address location="http://localhost:8010/untoken/SOAPService5"/>
       </wsdl:port>
    </wsdl:service>
    
</wsdl:definitions>
