dev/com.ibm.ws.jaxws.ejb_fat/test-applications/EJBWSProvider/resources/META-INF/wsdl/UserQueryService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. -->
<definitions targetNamespace="http://ejbbasic.jaxws.ws.ibm.com/" name="UserQueryService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ejbbasic.jaxws.ws.ibm.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://ejbbasic.jaxws.ws.ibm.com/" schemaLocation="UserQueryService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getUser">
    <part name="parameters" element="tns:getUser"/>
  </message>
  <message name="getUserResponse">
    <part name="parameters" element="tns:getUserResponse"/>
  </message>
  <message name="UserNotFoundException">
    <part name="fault" element="tns:UserNotFoundException"/>
  </message>
  <message name="listUsers">
    <part name="parameters" element="tns:listUsers"/>
  </message>
  <message name="listUsersResponse">
    <part name="parameters" element="tns:listUsersResponse"/>
  </message>
  <portType name="UserQuery">
    <operation name="getUser">
      <input message="tns:getUser"/>
      <output message="tns:getUserResponse"/>
      <fault message="tns:UserNotFoundException" name="UserNotFoundException"/>
    </operation>
    <operation name="listUsers">
      <input message="tns:listUsers"/>
      <output message="tns:listUsersResponse"/>
    </operation>
  </portType>
  <binding name="UserQueryPortBinding" type="tns:UserQuery">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getUser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="UserNotFoundException">
        <soap:fault name="UserNotFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="listUsers">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="UserQueryService">
    <port name="UserQueryPort" binding="tns:UserQueryPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

