dev/com.ibm.ws.wsat.concurrent_fat/test-applications/threadedServer/resources/WEB-INF/wsdl/MultiThreadedService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:tns="http://server.threadedserver.wsat.ws.ibm.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="WSATSimpleService" 
	targetNamespace="http://server.threadedserver.wsat.ws.ibm.com/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
	xmlns:wsat="http://docs.oasis-open.org/ws-tx/wsat/2006/06" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
	xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://server.threadedserver.wsat.ws.ibm.com/" elementFormDefault="unqualified" targetNamespace="http://server.threadedserver.wsat.ws.ibm.com/" version="1.0">
<xs:element name="clearXAResource" type="tns:clearXAResource"/>
<xs:element name="clearXAResourceResponse" type="tns:clearXAResourceResponse"/>
<xs:element name="invoke" type="tns:invoke"/>
<xs:element name="invokeResponse" type="tns:invokeResponse"/>
<xs:complexType name="invoke">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="invokeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="clearXAResource">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="clearXAResourceResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>  </wsdl:types>
  <wsdl:message name="clearXAResource">
    <wsdl:part element="tns:clearXAResource" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="clearXAResourceResponse">
    <wsdl:part element="tns:clearXAResourceResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="invokeResponse">
    <wsdl:part element="tns:invokeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="invoke">
    <wsdl:part element="tns:invoke" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="MultiThreaded">
    <wsdl:operation name="invoke">
      <wsdl:input message="tns:invoke" name="invoke">
    </wsdl:input>
      <wsdl:output message="tns:invokeResponse" name="invokeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="clearXAResource">
      <wsdl:input message="tns:clearXAResource" name="clearXAResource">
    </wsdl:input>
      <wsdl:output message="tns:clearXAResourceResponse" name="clearXAResourceResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MultiThreadedServiceSoapBinding" type="tns:MultiThreaded">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="invoke">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="invoke">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="invokeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="clearXAResource">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="clearXAResource">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="clearXAResourceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MultiThreadedService">
    <wsdl:port binding="tns:MultiThreadedServiceSoapBinding" name="MultiThreadedPort">
      <soap:address location="http://localhost:9992/threadedServer/MultiThreadedService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
