dev/com.ibm.ws.wsat_fat.db/test-applications/wsatEJBCDIApp/resources/WEB-INF/wsdl/CDIServiceService.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="CDIServiceService" targetNamespace="http://server.ejbcdi.wsat.ws.ibm.com/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server.ejbcdi.wsat.ws.ibm.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://server.ejbcdi.wsat.ws.ibm.com/">
  <xs:element name="cdiSayHelloToOther" type="tns:cdiSayHelloToOther"/>
  <xs:element name="cdiSayHelloToOtherResponse" type="tns:cdiSayHelloToOtherResponse"/>
  <xs:complexType name="cdiSayHelloToOther">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cdiSayHelloToOtherResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Exception" type="tns:Exception"/>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element name="message" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>  </wsdl:types>
  <wsdl:message name="Exception">
    <wsdl:part element="tns:Exception" name="Exception">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cdiSayHelloToOtherResponse">
    <wsdl:part element="tns:cdiSayHelloToOtherResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cdiSayHelloToOther">
    <wsdl:part element="tns:cdiSayHelloToOther" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CDIService">
    <wsdl:operation name="cdiSayHelloToOther">
      <wsdl:input message="tns:cdiSayHelloToOther" name="cdiSayHelloToOther">
    </wsdl:input>
      <wsdl:output message="tns:cdiSayHelloToOtherResponse" name="cdiSayHelloToOtherResponse">
    </wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CDIServiceServiceSoapBinding" type="tns:CDIService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="cdiSayHelloToOther">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="cdiSayHelloToOther">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="cdiSayHelloToOtherResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CDIServiceService">
    <wsdl:port binding="tns:CDIServiceServiceSoapBinding" name="CDIServicePort">
      <soap:address location="http://ibm283-na19722131.cn.ibm.com:9080/wsatEJBCDIApp/CDIServiceService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
