dev/com.ibm.ws.wsat_fat.db/test-applications/wsatEJBCDIApp/resources/WEB-INF/wsdl/EJBServiceService.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="EJBServiceService" targetNamespace="http://server.ejbcdi.wsat.ws.ibm.com/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server.ejbcdi.wsat.ws.ibm.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://server.ejbcdi.wsat.ws.ibm.com/">
  <xs:element name="ejbSayHelloToOther" type="tns:ejbSayHelloToOther"/>
  <xs:element name="ejbSayHelloToOtherResponse" type="tns:ejbSayHelloToOtherResponse"/>
  <xs:element name="ejbSayHelloToOtherWithNever" type="tns:ejbSayHelloToOtherWithNever"/>
  <xs:element name="ejbSayHelloToOtherWithNeverResponse" type="tns:ejbSayHelloToOtherWithNeverResponse"/>
  <xs:complexType name="ejbSayHelloToOther">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ejbSayHelloToOtherResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ejbSayHelloToOtherWithNever">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ejbSayHelloToOtherWithNeverResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NamingException" type="tns:NamingException"/>
  <xs:complexType name="NamingException">
    <xs:sequence>
      <xs:element name="message" nillable="true" type="xs:string"/>
      <xs:element name="resolvedObj" nillable="true" type="xs:anyType"/>
      <xs:element name="explanation" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SQLException" type="tns:SQLException"/>
  <xs:complexType name="SQLException">
    <xs:sequence>
      <xs:element name="message" nillable="true" type="xs:string"/>
      <xs:element name="sQLState" nillable="true" type="xs:string"/>
      <xs:element name="errorCode" nillable="true" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>  </wsdl:types>
  <wsdl:message name="ejbSayHelloToOther">
    <wsdl:part element="tns:ejbSayHelloToOther" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ejbSayHelloToOtherWithNeverResponse">
    <wsdl:part element="tns:ejbSayHelloToOtherWithNeverResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="NamingException">
    <wsdl:part element="tns:NamingException" name="NamingException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ejbSayHelloToOtherResponse">
    <wsdl:part element="tns:ejbSayHelloToOtherResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ejbSayHelloToOtherWithNever">
    <wsdl:part element="tns:ejbSayHelloToOtherWithNever" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SQLException">
    <wsdl:part element="tns:SQLException" name="SQLException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="EJBService">
    <wsdl:operation name="ejbSayHelloToOther">
      <wsdl:input message="tns:ejbSayHelloToOther" name="ejbSayHelloToOther">
    </wsdl:input>
      <wsdl:output message="tns:ejbSayHelloToOtherResponse" name="ejbSayHelloToOtherResponse">
    </wsdl:output>
      <wsdl:fault message="tns:NamingException" name="NamingException">
    </wsdl:fault>
      <wsdl:fault message="tns:SQLException" name="SQLException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ejbSayHelloToOtherWithNever">
      <wsdl:input message="tns:ejbSayHelloToOtherWithNever" name="ejbSayHelloToOtherWithNever">
    </wsdl:input>
      <wsdl:output message="tns:ejbSayHelloToOtherWithNeverResponse" name="ejbSayHelloToOtherWithNeverResponse">
    </wsdl:output>
      <wsdl:fault message="tns:NamingException" name="NamingException">
    </wsdl:fault>
      <wsdl:fault message="tns:SQLException" name="SQLException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EJBServiceServiceSoapBinding" type="tns:EJBService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ejbSayHelloToOther">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="ejbSayHelloToOther">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ejbSayHelloToOtherResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NamingException">
        <soap:fault name="NamingException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SQLException">
        <soap:fault name="SQLException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ejbSayHelloToOtherWithNever">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="ejbSayHelloToOtherWithNever">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ejbSayHelloToOtherWithNeverResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NamingException">
        <soap:fault name="NamingException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SQLException">
        <soap:fault name="SQLException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EJBServiceService">
    <wsdl:port binding="tns:EJBServiceServiceSoapBinding" name="EJBServicePort">
      <soap:address location="http://ibm283-na19722131.cn.ibm.com:9080/wsatEJBCDIApp/EJBServiceService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
