dev/com.ibm.ws.wsat_fat.db/test-applications/wsatEJBCDIApp/resources/WEB-INF/wsdl/NormalServiceService.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="NormalServiceService" targetNamespace="http://server.ejbcdi.wsat.ws.ibm.com/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server.ejbcdi.wsat.ws.ibm.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://server.ejbcdi.wsat.ws.ibm.com/">
  <xs:element name="normalSayHelloToOther" type="tns:normalSayHelloToOther"/>
  <xs:element name="normalSayHelloToOtherResponse" type="tns:normalSayHelloToOtherResponse"/>
  <xs:complexType name="normalSayHelloToOther">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="normalSayHelloToOtherResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SQLException" type="tns:SQLException"/>
  <xs:complexType name="SQLException">
    <xs:sequence>
      <xs:element name="message" nillable="true" type="xs:string"/>
      <xs:element name="sQLState" nillable="true" type="xs:string"/>
      <xs:element name="errorCode" nillable="true" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NamingException" type="tns:NamingException"/>
  <xs:complexType name="NamingException">
    <xs:sequence>
      <xs:element name="message" nillable="true" type="xs:string"/>
      <xs:element name="resolvedObj" nillable="true" type="xs:anyType"/>
      <xs:element name="explanation" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>  </wsdl:types>
  <wsdl:message name="normalSayHelloToOther">
    <wsdl:part element="tns:normalSayHelloToOther" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="NamingException">
    <wsdl:part element="tns:NamingException" name="NamingException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SQLException">
    <wsdl:part element="tns:SQLException" name="SQLException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="normalSayHelloToOtherResponse">
    <wsdl:part element="tns:normalSayHelloToOtherResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="NormalService">
    <wsdl:operation name="normalSayHelloToOther">
      <wsdl:input message="tns:normalSayHelloToOther" name="normalSayHelloToOther">
    </wsdl:input>
      <wsdl:output message="tns:normalSayHelloToOtherResponse" name="normalSayHelloToOtherResponse">
    </wsdl:output>
      <wsdl:fault message="tns:NamingException" name="NamingException">
    </wsdl:fault>
      <wsdl:fault message="tns:SQLException" name="SQLException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NormalServiceServiceSoapBinding" type="tns:NormalService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="normalSayHelloToOther">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="normalSayHelloToOther">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="normalSayHelloToOtherResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NamingException">
        <soap:fault name="NamingException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SQLException">
        <soap:fault name="SQLException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NormalServiceService">
    <wsdl:port binding="tns:NormalServiceServiceSoapBinding" name="NormalServicePort">
      <soap:address location="http://ibm283-na19722131.cn.ibm.com:9080/testForWSDL/NormalServiceService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
