dev/com.ibm.ws.wssecurity_fat.wsscxf.1/test-applications/nopassclient/resources/WEB-INF/classes/test/wssecfat/nopassunt1.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions 
        targetNamespace="http://wssecfat.test"
        xmlns="http://schemas.xmlsoap.org/wsdl/"
        xmlns:apachesoap="http://xml.apache.org/xml-soap"
        xmlns:intf="http://wssecfat.test"
        xmlns:x1="http://wssecfat.test/types"
        xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
        xmlns:wsp="http://www.w3.org/ns/ws-policy"
        xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
        xmlns:sp13="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200802"
        xmlns:cxf="http://cxf.apache.org/core"
        xmlns:p="http://cxf.apache.org/policy"        
        xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <wsp:Policy wsu:Id="UserNameTokenNoPass">
        <sp:SupportingTokens>
            <wsp:Policy>
                <sp:UsernameToken
                    sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                    <wsp:Policy>
                       <sp:WssUsernameToken11/>
                       <sp:NoPassword/>                       
                    </wsp:Policy>                                
                </sp:UsernameToken>
            </wsp:Policy>
        </sp:SupportingTokens>
    </wsp:Policy>
    
    <wsdl:types>
        <xsd:schema targetNamespace="http://wssecfat.test/types">
                <xsd:element name="requestString">
                        <xsd:complexType>
                                <xsd:sequence>
                                        <xsd:element name="stringreq" type="xsd:string" />
                                </xsd:sequence>
                        </xsd:complexType>
                </xsd:element>
                <xsd:element name="responseString">
                        <xsd:complexType>
                                <xsd:sequence>
                                        <xsd:element name="stringres" type="xsd:string" />
                                </xsd:sequence>
                        </xsd:complexType>
                </xsd:element>
        </xsd:schema>
    </wsdl:types>

   <wsdl:message name="getVersionRequest">
      <wsdl:part element="x1:requestString" name="getVersion"/>
   </wsdl:message>
   <wsdl:message name="getVersionResponse">
      <wsdl:part element="x1:responseString" name="getVersionReturn" />
   </wsdl:message>

   <wsdl:portType name="NoPass">
      <wsdl:operation name="invoke">
         <wsdl:input message="intf:getVersionRequest" name="getVersionRequest"/>
         <wsdl:output message="intf:getVersionResponse" name="getVersionResponse"/>
      </wsdl:operation>
   </wsdl:portType>

   <wsdl:binding name="UrnNoPassTokenSoapBinding" type="intf:NoPass">
      <wsp:PolicyReference URI="#UserNameTokenNoPass" />
      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="invoke">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="getVersionRequest">
            <wsdlsoap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="getVersionResponse">
            <wsdlsoap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>

   <wsdl:service name="NoPassService">
      <wsdl:port name="UrnNoPassUNT" binding="intf:UrnNoPassTokenSoapBinding">
         <wsdlsoap:address location="http://localhost:8010/nopassunt/NoPassService"/>
      </wsdl:port>
   </wsdl:service>

</wsdl:definitions>


