dev/com.ibm.ws.wssecurity_fat.wsscxf.1/test-applications/wss11enc/resources/WEB-INF/WSS11Encryption.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Wss11EncWebSvc1" targetNamespace="http://wss11enc.wssecfvt.test" 
    xmlns="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:tns="http://wss11enc.wssecfvt.test"
    xmlns:x1="http://wss11enc.wssecfvt.test/types"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
    xmlns:wsp="http://www.w3.org/ns/ws-policy"
    xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
    xmlns:sp13="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200802"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    
    <wsp:Policy wsu:Id="EncryptedHeaderNSPolicy">        
      <wsp:ExactlyOne>
        <wsp:All>
           <sp:AsymmetricBinding>
             <wsp:Policy>
               <sp:InitiatorEncryptionToken>
                 <wsp:Policy>
                   <sp:X509Token
                      sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/Never">
                      <wsp:Policy>
                         <sp:WssX509V3Token10 />
                      </wsp:Policy>
                   </sp:X509Token>
                 </wsp:Policy>
               </sp:InitiatorEncryptionToken>
               <sp:RecipientEncryptionToken>
                 <wsp:Policy>
                   <sp:X509Token
                      sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/Never">
                      <wsp:Policy>
                         <sp:WssX509V3Token10 />
                      </wsp:Policy>
                   </sp:X509Token>
                 </wsp:Policy>
               </sp:RecipientEncryptionToken>
               <sp:AlgorithmSuite>
                 <wsp:Policy>
                   <sp:Basic128/>
                 </wsp:Policy>
               </sp:AlgorithmSuite>
               <sp:Layout>
                 <wsp:Policy>
                   <sp:Strict/>
                 </wsp:Policy>
               </sp:Layout>
             </wsp:Policy>
           </sp:AsymmetricBinding>
           
          <sp:EncryptedParts>
            <sp:Header  Name="CXF_FVT" Namespace="http://encryptedhdr/WSSECFVT/CXF"/>
            <sp:Header  Name="CXF_RESP" Namespace="http://encryptedhdr/WSSECFVT/CXF"/>
          </sp:EncryptedParts>           
         </wsp:All>
      </wsp:ExactlyOne>      
    </wsp:Policy>
              
    <wsp:Policy wsu:Id="EncryptedHeaderAnyPolicy">     
      <wsp:ExactlyOne>
        <wsp:All>       
           <sp:AsymmetricBinding>
             <wsp:Policy>
               <sp:InitiatorEncryptionToken>
                 <wsp:Policy>
                   <sp:X509Token
                      sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/Never">
                      <wsp:Policy>
                         <sp:WssX509V3Token10 />
                      </wsp:Policy>
                   </sp:X509Token>
                 </wsp:Policy>
               </sp:InitiatorEncryptionToken>
               <sp:RecipientEncryptionToken>
                 <wsp:Policy>
                   <sp:X509Token
                      sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/Never">
                      <wsp:Policy>
                         <sp:WssX509V3Token10 />
                      </wsp:Policy>
                   </sp:X509Token>
                 </wsp:Policy>
               </sp:RecipientEncryptionToken>
               <sp:AlgorithmSuite>
                 <wsp:Policy>
                   <sp:Basic128/>
                 </wsp:Policy>
               </sp:AlgorithmSuite>
               <sp:Layout>
                 <wsp:Policy>
                   <sp:Strict/>
                 </wsp:Policy>
               </sp:Layout>
             </wsp:Policy>
           </sp:AsymmetricBinding>
           
           <sp:EncryptedParts>
              <sp:Header  Namespace="http://encryptedhdr/WSSECFVT/CXF"/>
           </sp:EncryptedParts>
        </wsp:All>
      </wsp:ExactlyOne>      
    </wsp:Policy>
    
    <wsdl:types>
        <schema targetNamespace="http://wss11enc.wssecfvt.test/types" 
            xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
            <element name="getVer">
                <complexType>
                    <sequence>
                        <element name="requestType" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="getVerResponse">
                <complexType>
                    <sequence>
                        <element name="responseType" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
   	    <element name="faultDetail">
		<complexType>
			<sequence>
				<element name="minor" type="xsd:short"/>
				<element name="major" type="xsd:short"/>
			</sequence>
		</complexType>
	    </element>
        </schema>
    </wsdl:types>

    <wsdl:message name="getVerRequest">
        <wsdl:part element="x1:getVer" name="in"/>
    </wsdl:message>
    <wsdl:message name="getVerResponse">
        <wsdl:part element="x1:getVerResponse" name="out"/>
    </wsdl:message>

    <wsdl:portType name="WSS11Enc">
        <wsdl:operation name="invoke">
            <wsdl:input message="tns:getVerRequest" name="getVerRequest"/>
            <wsdl:output message="tns:getVerResponse" name="getVerResponse"/>
        </wsdl:operation>
    </wsdl:portType>
             
    <wsdl:binding name="UrnWss11EncSoapBinding1" type="tns:WSS11Enc">
        <wsp:PolicyReference URI="#EncryptedHeaderNSPolicy" />
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="invoke">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getVerRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getVerResponse">
               <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>        
    </wsdl:binding>
    
    <wsdl:binding name="UrnWss11EncSoapBinding2" type="tns:WSS11Enc">
        <wsp:PolicyReference URI="#EncryptedHeaderAnyPolicy" />
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="invoke">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getVerRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getVerResponse">
               <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>        
    </wsdl:binding>
    
    <wsdl:service name="WSS11EncService1">
        <wsdl:port binding="tns:UrnWss11EncSoapBinding1" name="WSS11Enc1">
            <soap:address location="http://localhost:8010/wss11enc/WSS11EncService1"/>
        </wsdl:port>
    </wsdl:service>
    
    <wsdl:service name="WSS11EncService2">
        <wsdl:port binding="tns:UrnWss11EncSoapBinding2" name="WSS11Enc2">
            <soap:address location="http://localhost:8010/wss11enc/WSS11EncService2"/>
        </wsdl:port>
    </wsdl:service>
    
</wsdl:definitions>
