dev/com.ibm.ws.jaxws.2.2.webcontainer_fat/publish/files/HandlerChainWithWebServiceClientTest/AddNumbers.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://provider.jaxws.ws.ibm.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="AddNumbers" targetNamespace="http://provider.jaxws.ws.ibm.com/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://provider.jaxws.ws.ibm.com/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://provider.jaxws.ws.ibm.com/">
  <xs:element name="addNegatives" type="tns:addNegatives"></xs:element>
  <xs:element name="addNegativesResponse" type="tns:addNegativesResponse"></xs:element>
  <xs:element name="addNumbers" type="tns:addNumbers"></xs:element>
  <xs:element name="addNumbersResponse" type="tns:addNumbersResponse"></xs:element>
  <xs:complexType name="addNegatives">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"></xs:element>
      <xs:element name="arg1" type="xs:int"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addNegativesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addNumbers">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"></xs:element>
      <xs:element name="arg1" type="xs:int"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addNumbersResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LocalName" type="tns:LocalName"></xs:element>
  <xs:complexType name="LocalName">
    <xs:sequence>
      <xs:element name="message" nillable="true" type="xs:string"></xs:element>
      <xs:element name="info" nillable="true" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddNumbersException" type="tns:AddNumbersException"></xs:element>
  <xs:complexType name="AddNumbersException">
    <xs:sequence>
      <xs:element name="message" nillable="true" type="xs:string"></xs:element>
      <xs:element name="info" nillable="true" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>  </wsdl:types>
  <wsdl:message name="addNegativesResponse">
    <wsdl:part element="tns:addNegativesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addNegatives">
    <wsdl:part element="tns:addNegatives" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addNumbersResponse">
    <wsdl:part element="tns:addNumbersResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addNumbers">
    <wsdl:part element="tns:addNumbers" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AddNumbersException">
    <wsdl:part element="tns:AddNumbersException" name="AddNumbersException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AddNegativesException">
    <wsdl:part element="tns:LocalName" name="AddNegativesException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AddNumbers">
    <wsdl:operation name="addNegatives">
      <wsdl:input message="tns:addNegatives" name="addNegatives">
    </wsdl:input>
      <wsdl:output message="tns:addNegativesResponse" name="addNegativesResponse">
    </wsdl:output>
      <wsdl:fault message="tns:AddNegativesException" name="AddNegativesException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addNumbers">
      <wsdl:input message="tns:addNumbers" name="addNumbers">
    </wsdl:input>
      <wsdl:output message="tns:addNumbersResponse" name="addNumbersResponse">
    </wsdl:output>
      <wsdl:fault message="tns:AddNumbersException" name="AddNumbersException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AddNumbersSoapBinding" type="tns:AddNumbers">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <wsdl:operation name="addNegatives">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="addNegatives">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="addNegativesResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="AddNegativesException">
        <soap:fault name="AddNegativesException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addNumbers">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="addNumbers">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="addNumbersResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="AddNumbersException">
        <soap:fault name="AddNumbersException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AddNumbers">
    <wsdl:port binding="tns:AddNumbersSoapBinding" name="AddNumbersPort">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"></soap:address>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>