dev/com.ibm.ws.wssecurity_fat.wsscxf.1/test-applications/mustunderstand/resources/WEB-INF/MustUnderstand.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="MustUnderstandWebSvc" targetNamespace="http://mustunderstand.cxf.fats" 
    xmlns="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:tns="http://mustunderstand.cxf.fats"
    xmlns:x1="http://mustunderstand.cxf.fats/types"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
    xmlns:wsp="http://www.w3.org/ns/ws-policy"
    xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
    xmlns:sp13="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200802"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <!-- UsernameToken with plain text password -->
    <wsp:Policy wsu:Id="UserNameToken1">
        <sp:SupportingTokens>
            <wsp:Policy>
                <sp:UsernameToken
                    sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                    <wsp:Policy>
                       <sp:WssUsernameToken11/>
                    </wsp:Policy>
                </sp:UsernameToken>
            </wsp:Policy>
        </sp:SupportingTokens>
    </wsp:Policy>

    <wsp:Policy wsu:Id="UserNameToken2">
    
     <sp:SupportingTokens>
         <wsp:Policy>
             <sp:UsernameToken
                 sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                 <wsp:Policy>
                    <sp:WssUsernameToken11/>
                 </wsp:Policy>
             </sp:UsernameToken>
         </wsp:Policy>
     </sp:SupportingTokens>
           
     <wsp:ExactlyOne>
        <wsp:All>
           <sp:AsymmetricBinding>
             <wsp:Policy>
               <sp:InitiatorSignatureToken>
                 <wsp:Policy>
                   <sp:X509Token
                      sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                      <wsp:Policy>
                         <sp:WssX509V3Token10 />
                      </wsp:Policy>
                   </sp:X509Token>
                 </wsp:Policy>
               </sp:InitiatorSignatureToken>
               <sp:RecipientSignatureToken>
                 <wsp:Policy>
                   <sp:X509Token
                      sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToInitiator">
                      <wsp:Policy>
                         <sp:WssX509V3Token10 />
                      </wsp:Policy>
                   </sp:X509Token>
                 </wsp:Policy>
               </sp:RecipientSignatureToken>
               <sp:AlgorithmSuite>
                 <wsp:Policy>
                   <sp:Basic128/>
                 </wsp:Policy>
               </sp:AlgorithmSuite>
               <sp:Layout>
                 <wsp:Policy>
                   <sp:Strict/>
                 </wsp:Policy>
               </sp:Layout>
             </wsp:Policy>
           </sp:AsymmetricBinding>
           <sp:SignedParts>
             <sp:Body/>
           </sp:SignedParts>
         </wsp:All>
      </wsp:ExactlyOne>
      
    </wsp:Policy>

    <wsdl:types>
        <schema targetNamespace="http://mustunderstand.cxf.fats/types" 
            xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
            <element name="getVer">
                <complexType>
                    <sequence>
                        <element name="requestType" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="getVerResponse">
                <complexType>
                    <sequence>
                        <element name="responseType" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
   	    <element name="faultDetail">
		<complexType>
			<sequence>
				<element name="minor" type="xsd:short"/>
				<element name="major" type="xsd:short"/>
			</sequence>
		</complexType>
	    </element>
        </schema>
    </wsdl:types>

    <wsdl:message name="getVerRequest">
        <wsdl:part element="x1:getVer" name="in"/>
    </wsdl:message>
    <wsdl:message name="getVerResponse">
        <wsdl:part element="x1:getVerResponse" name="out"/>
    </wsdl:message>

    <wsdl:portType name="MustUnderstand">
        <wsdl:operation name="invoke">
            <wsdl:input message="tns:getVerRequest" name="getVerRequest"/>
            <wsdl:output message="tns:getVerResponse" name="getVerResponse"/>
        </wsdl:operation>
    </wsdl:portType>
             
    <wsdl:binding name="UrnMustUnderstandBinding1" type="tns:MustUnderstand">
        <wsp:PolicyReference URI="#UserNameToken1" />
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="invoke">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getVerRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getVerResponse">
               <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        
    </wsdl:binding>
    
 	<wsdl:binding name="UrnMustUnderstandBinding2" type="tns:MustUnderstand">
        <wsp:PolicyReference URI="#UserNameToken2" />
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="invoke">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getVerRequest">
               <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getVerResponse">
               <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>        
    </wsdl:binding>

    <wsdl:service name="MustUnderstandWebSvc1">
        <wsdl:port binding="tns:UrnMustUnderstandBinding1" name="MustUnderstand1">
            <soap:address location="http://localhost:8010/mustunderstand/MustUnderstandWebSvc1"/>
        </wsdl:port>
    </wsdl:service> 
        
    <wsdl:service name="MustUnderstandWebSvc2">
        <wsdl:port binding="tns:UrnMustUnderstandBinding1" name="MustUnderstand2">
            <soap:address location="http://localhost:8010/mustunderstand/MustUnderstandWebSvc2"/>
        </wsdl:port>
    </wsdl:service>     

    <wsdl:service name="MustUnderstandWebSvc3">
        <wsdl:port binding="tns:UrnMustUnderstandBinding2" name="MustUnderstand3">
            <soap:address location="http://localhost:8010/mustunderstand/MustUnderstandWebSvc3"/>
        </wsdl:port>
    </wsdl:service> 
        
    <wsdl:service name="MustUnderstandWebSvc4">
        <wsdl:port binding="tns:UrnMustUnderstandBinding2" name="MustUnderstand4">
            <soap:address location="http://localhost:8010/mustunderstand/MustUnderstandWebSvc4"/>
        </wsdl:port>
    </wsdl:service>     

    <wsdl:service name="MustUnderstandWebSvc5">
        <wsdl:port binding="tns:UrnMustUnderstandBinding1" name="MustUnderstand5">
            <soap:address location="http://localhost:8010/mustunderstand/MustUnderstandWebSvc5"/>
        </wsdl:port>
    </wsdl:service> 
        
    <wsdl:service name="MustUnderstandWebSvc6">
        <wsdl:port binding="tns:UrnMustUnderstandBinding1" name="MustUnderstand6">
            <soap:address location="http://localhost:8010/mustunderstand/MustUnderstandWebSvc6"/>
        </wsdl:port>
    </wsdl:service>     

    <wsdl:service name="MustUnderstandWebSvc7">
        <wsdl:port binding="tns:UrnMustUnderstandBinding2" name="MustUnderstand7">
            <soap:address location="http://localhost:8010/mustunderstand/MustUnderstandWebSvc7"/>
        </wsdl:port>
    </wsdl:service> 
        
    <wsdl:service name="MustUnderstandWebSvc8">
        <wsdl:port binding="tns:UrnMustUnderstandBinding2" name="MustUnderstand8">
            <soap:address location="http://localhost:8010/mustunderstand/MustUnderstandWebSvc8"/>
        </wsdl:port>
    </wsdl:service>     
            
</wsdl:definitions>
    
