dev/com.ibm.ws.wsat.concurrent_fat/test-applications/simpleServer/resources/WEB-INF/wsdl/WSATSimpleService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:tns="http://server.simpleserver.wsat.ws.ibm.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="WSATSimpleService" 
	targetNamespace="http://server.simpleserver.wsat.ws.ibm.com/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
	xmlns:wsat="http://docs.oasis-open.org/ws-tx/wsat/2006/06" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
	xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
	<wsp:Policy wsu:Id="TransactedPolicy">
		<wsat:ATAssertion/>
	</wsp:Policy>
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://server.simpleserver.wsat.ws.ibm.com/" elementFormDefault="unqualified" targetNamespace="http://server.simpleserver.wsat.ws.ibm.com/" version="1.0">
<xs:element name="echo" type="tns:echo"/>
<xs:element name="echoResponse" type="tns:echoResponse"/>
<xs:element name="enlistOneXAResource" type="tns:enlistOneXAResource"/>
<xs:element name="enlistOneXAResourceResponse" type="tns:enlistOneXAResourceResponse"/>
<xs:element name="enlistTwoXAResources" type="tns:enlistTwoXAResources"/>
<xs:element name="enlistTwoXAResourcesResponse" type="tns:enlistTwoXAResourcesResponse"/>
<xs:element name="getStatus" type="tns:getStatus"/>
<xs:element name="getStatusResponse" type="tns:getStatusResponse"/>
<xs:element name="sleep" type="tns:sleep"/>
<xs:element name="sleepResponse" type="tns:sleepResponse"/>
<xs:complexType name="sleep">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
      <xs:element name="arg1" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="sleepResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="enlistOneXAResource">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element name="arg1" type="xs:int"/>
      <xs:element name="arg2" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="enlistOneXAResourceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getStatus">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="getStatusResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="enlistTwoXAResources">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element name="arg2" type="xs:int"/>
      <xs:element name="arg3" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="enlistTwoXAResourcesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="echo">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="echoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>  </wsdl:types>
  <wsdl:message name="enlistOneXAResourceResponse">
    <wsdl:part element="tns:enlistOneXAResourceResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echo">
    <wsdl:part element="tns:echo" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getStatusResponse">
    <wsdl:part element="tns:getStatusResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sleepResponse">
    <wsdl:part element="tns:sleepResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoResponse">
    <wsdl:part element="tns:echoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sleep">
    <wsdl:part element="tns:sleep" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getStatus">
    <wsdl:part element="tns:getStatus" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="enlistTwoXAResourcesResponse">
    <wsdl:part element="tns:enlistTwoXAResourcesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="enlistOneXAResource">
    <wsdl:part element="tns:enlistOneXAResource" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="enlistTwoXAResources">
    <wsdl:part element="tns:enlistTwoXAResources" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="WSATSimple">
    <wsdl:operation name="sleep">
      <wsp:PolicyReference URI="#TransactedPolicy"
				wsdl:required="true" />
      <wsdl:input message="tns:sleep" name="sleep">
    </wsdl:input>
      <wsdl:output message="tns:sleepResponse" name="sleepResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="enlistOneXAResource">
      <wsp:PolicyReference URI="#TransactedPolicy"
				wsdl:required="true" />
      <wsdl:input message="tns:enlistOneXAResource" name="enlistOneXAResource">
    </wsdl:input>
      <wsdl:output message="tns:enlistOneXAResourceResponse" name="enlistOneXAResourceResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStatus">
      <wsp:PolicyReference URI="#TransactedPolicy"
				wsdl:required="true" />
      <wsdl:input message="tns:getStatus" name="getStatus">
    </wsdl:input>
      <wsdl:output message="tns:getStatusResponse" name="getStatusResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="enlistTwoXAResources">
      <wsp:PolicyReference URI="#TransactedPolicy"
				wsdl:required="true" />
      <wsdl:input message="tns:enlistTwoXAResources" name="enlistTwoXAResources">
    </wsdl:input>
      <wsdl:output message="tns:enlistTwoXAResourcesResponse" name="enlistTwoXAResourcesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echo">
      <wsdl:input message="tns:echo" name="echo">
    </wsdl:input>
      <wsdl:output message="tns:echoResponse" name="echoResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSATSimpleServiceSoapBinding" type="tns:WSATSimple">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="enlistOneXAResource">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="enlistOneXAResource">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="enlistOneXAResourceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sleep">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="sleep">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="sleepResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStatus">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getStatus">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getStatusResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echo">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="echo">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="enlistTwoXAResources">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="enlistTwoXAResources">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="enlistTwoXAResourcesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSATSimpleService">
    <wsdl:port binding="tns:WSATSimpleServiceSoapBinding" name="WSATSimplePort">
      <soap:address location="http://localhost:9992/simpleServer/WSATSimpleService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
