dev/com.ibm.ws.wssecurity_fat.wsscxf.1/test-applications/x509crl/resources/WEB-INF/X509Crl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="X509CrlWebSvc" targetNamespace="http://x509crl.wssecfvt.test" 
    xmlns="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:tns="http://x509crl.wssecfvt.test"
    xmlns:x1="http://x509crl.wssecfvt.test/types"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
    xmlns:wsp="http://www.w3.org/ns/ws-policy"
    xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
    xmlns:sp13="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200802"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        
    <wsp:Policy wsu:Id="BasicSigNoConfirmPolicy">
        
     <wsp:ExactlyOne>
        <wsp:All>
           <sp:AsymmetricBinding>
             <wsp:Policy>
               <sp:InitiatorToken>
                 <wsp:Policy>
                   <sp:X509Token
                      sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                      <wsp:Policy>
                         <sp:WssX509V3Token10 />
                      </wsp:Policy>
                   </sp:X509Token>
                 </wsp:Policy>
               </sp:InitiatorToken>
               <sp:RecipientToken>
                 <wsp:Policy>
                   <sp:X509Token
                      sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToInitiator">
                      <wsp:Policy>
                         <sp:WssX509V3Token10 />
                      </wsp:Policy>
                   </sp:X509Token>
                 </wsp:Policy>
               </sp:RecipientToken>
               <sp:AlgorithmSuite>
                 <wsp:Policy>
                   <sp:Basic128/>
                 </wsp:Policy>
               </sp:AlgorithmSuite>
               <sp:Layout>
                 <wsp:Policy>
                   <sp:Strict/>
                 </wsp:Policy>
               </sp:Layout>
             </wsp:Policy>
           </sp:AsymmetricBinding>
           <sp:SignedParts>
             <sp:Body/>
           </sp:SignedParts>
         </wsp:All>
      </wsp:ExactlyOne>
      
    </wsp:Policy>

    <wsdl:types>
        <schema targetNamespace="http://x509crl.wssecfvt.test/types" 
            xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
            <element name="getVer">
                <complexType>
                    <sequence>
                        <element name="requestType" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="getVerResponse">
                <complexType>
                    <sequence>
                        <element name="responseType" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
   	    <element name="faultDetail">
		<complexType>
			<sequence>
				<element name="minor" type="xsd:short"/>
				<element name="major" type="xsd:short"/>
			</sequence>
		</complexType>
	    </element>
        </schema>
    </wsdl:types>

    <wsdl:message name="getVerRequest">
        <wsdl:part element="x1:getVer" name="in"/>
    </wsdl:message>
    <wsdl:message name="getVerResponse">
        <wsdl:part element="x1:getVerResponse" name="out"/>
    </wsdl:message>

    <wsdl:portType name="x509crl">
        <wsdl:operation name="invoke">
            <wsdl:input message="tns:getVerRequest" name="getVerRequest"/>
            <wsdl:output message="tns:getVerResponse" name="getVerResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="UrnX509CrlSoapBinding" type="tns:x509crl">
        <wsp:PolicyReference URI="#BasicSigNoConfirmPolicy" />
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="invoke">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getVerRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getVerResponse">
               <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        
    </wsdl:binding>
   
    <wsdl:service name="X509CrlInListService">
        <wsdl:port binding="tns:UrnX509CrlSoapBinding" name="X509CrlInList">
            <soap:address location="http://localhost:8010/x509crl/X509CrlInListService"/>
        </wsdl:port>
    </wsdl:service>
    
    <wsdl:service name="X509CrlNotInListService">
        <wsdl:port binding="tns:UrnX509CrlSoapBinding" name="X509CrlNotInList">
            <soap:address location="http://localhost:8010/x509crl/X509CrlNotInListService"/>
        </wsdl:port>
    </wsdl:service>
        
    <wsdl:service name="X509CrlInvCertService">
        <wsdl:port binding="tns:UrnX509CrlSoapBinding" name="X509CrlInvCert">
            <soap:address location="http://localhost:8010/x509crl/X509CrlInvCertService"/>
        </wsdl:port>
    </wsdl:service>
             
</wsdl:definitions>
