dev/com.ibm.ws.wssecurity_fat.wsscxf.1/test-applications/WSSampleSeiClient/resources/WEB-INF/wsdl/Echo12.wsdl

<?xml version="1.0" encoding="UTF-8"?><!--
	* This program may be used, executed, copied, modified and distributed
	* without royalty for the purpose of developing, using, marketing, or distributing.
--><wsdl:definitions name="EchoService12" targetNamespace="http://com/ibm/was/wssample/sei/echo/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://com/ibm/was/wssample/sei/echo/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xsd:schema targetNamespace="http://com/ibm/was/wssample/sei/echo/">
			
			<xsd:element name="echoStringResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="echoResponse" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="echoStringInput">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="echoInput" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="echoOperationRequest">
		<wsdl:part element="tns:echoStringInput" name="parameter"/>
	</wsdl:message>
	<wsdl:message name="echoOperationResponse">
		<wsdl:part element="tns:echoStringResponse" name="parameter"/>
	</wsdl:message>
	<wsdl:portType name="EchoService12PortType">

		<wsdl:operation name="echoOperation">
			<wsdl:input message="tns:echoOperationRequest"/>
			<wsdl:output message="tns:echoOperationResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="EchoSOAP12" type="tns:EchoService12PortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="echoOperation">
			<soap:operation soapAction="echoOperation" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="EchoService12">
		<wsdl:port binding="tns:EchoSOAP12" name="EchoService12Port">
			<soap:address location="http://wsi6.rtp.raleigh.ibm.com:9080/InteropService/EchoService12"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>