dev/com.ibm.ws.wssecurity_fat.wsscxf/test-applications/pwdigest/resources/WEB-INF/UsrTokenPWDigestCreatedSvc.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="UsrTokenWebSvc" targetNamespace="http://wssec.pwdigest.cxf.fats" 
    xmlns="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:tns="http://wssec.pwdigest.cxf.fats"
    xmlns:x1="http://wssec.pwdigest.cxf.fats/types"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
    xmlns:wsp="http://www.w3.org/ns/ws-policy"
    xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
    xmlns:sp13="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200802"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <!-- 2.1.1.1 UsernameToken with plain text password -->
    <wsp:Policy wsu:Id="UserNameToken1">
    
    	<sp:SupportingTokens>
    		<wsp:Policy>
    			<sp:UsernameToken
    				sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
    				<wsp:Policy>
    					<sp:WssUsernameToken10/>
    					<sp:HashPassword/>
    					<sp13:Created/>    					 					
    				</wsp:Policy>
    			</sp:UsernameToken>
    		</wsp:Policy>
    	</sp:SupportingTokens>
	</wsp:Policy>             
    
    
    <wsp:Policy wsu:Id="UserNameToken2">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:TransportBinding>
                    <wsp:Policy>
                        <sp:TransportToken>
                            <wsp:Policy>
                                <sp:HttpsToken>
                                    <wsp:Policy/>
                                </sp:HttpsToken>
                            </wsp:Policy>
                        </sp:TransportToken>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Lax />
                            </wsp:Policy>
                        </sp:Layout>
                        <sp:IncludeTimestamp />
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <sp:Basic128 />
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                    </wsp:Policy>
                </sp:TransportBinding>
                <sp:SupportingTokens>
                    <wsp:Policy>
                        <sp:UsernameToken
                            sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                            <wsp:Policy>
                                <sp:WssUsernameToken10/>
                                <sp:HashPassword/>
    							<sp13:Created/>    	
                            </wsp:Policy>
                        </sp:UsernameToken>
                    </wsp:Policy>
                </sp:SupportingTokens>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>

    <wsdl:types>
        <schema targetNamespace="http://wssec.pwdigest.cxf.fats/types" 
            xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
            <element name="getVer">
                <complexType>
                    <sequence>
                        <element name="requestType" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="getVerResponse">
                <complexType>
                    <sequence>
                        <element name="responseType" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
   	    <element name="faultDetail">
		<complexType>
			<sequence>
				<element name="minor" type="xsd:short"/>
				<element name="major" type="xsd:short"/>
			</sequence>
		</complexType>
	    </element>
        </schema>
    </wsdl:types>

    <wsdl:message name="getVerRequest">
        <wsdl:part element="x1:getVer" name="in"/>
    </wsdl:message>
    <wsdl:message name="getVerResponse">
        <wsdl:part element="x1:getVerResponse" name="out"/>
    </wsdl:message>

    <wsdl:portType name="PWDigestCreated">
        <wsdl:operation name="invoke">
            <wsdl:input message="tns:getVerRequest" name="getVerRequest"/>
            <wsdl:output message="tns:getVerResponse" name="getVerResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <wsdl:binding name="pwDigestCreated_SOAPBinding" type="tns:PWDigestCreated">
        <wsp:PolicyReference URI="#UserNameToken1" />
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        
        <wsdl:operation name="invoke">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getVerRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getVerResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        
    </wsdl:binding>
    
    <wsdl:service name="SOAPServicePWDigestCreated">
        <wsdl:port binding="tns:pwDigestCreated_SOAPBinding" name="SOAPPortPWDigestCreated">
            <soap:address location="http://localhost:8010/pwdigest/SOAPServicePWDigestCreated"/>
        </wsdl:port>
    </wsdl:service>

    <wsdl:binding name="pwDigestCreated_SOAPBindingWithSSL" type="tns:PWDigestCreated">
        <wsp:PolicyReference URI="#UserNameToken2" />
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        
        <wsdl:operation name="invoke">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getVerRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getVerResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        
    </wsdl:binding>
    
    <wsdl:service name="SOAPServicePWDigestCreatedWithSSL">
        <wsdl:port binding="tns:pwDigestCreated_SOAPBindingWithSSL" name="SOAPPortPWDigestCreatedWithSSL">
            <soap:address location="http://localhost:8010/pwdigest/SOAPServicePWDigestCreatedWithSSL"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>

