dev/com.ibm.ws.wssecurity_fat.wsscxf.saml.5/override/autoFVT/cxfclient-policies/ClientAsymOmitRecipientTokenWithEP.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="WssTemplatesWebSvc" targetNamespace="http://wsstemplates.wssecfvt.test" 
    xmlns="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:tns="http://wsstemplates.wssecfvt.test"
    xmlns:x1="http://wsstemplates.wssecfvt.test/types"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
    xmlns:wsp="http://www.w3.org/ns/ws-policy"
    xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
    xmlns:sp13="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200802"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  	
	<wsp:Policy wsu:Id="AsymmetricX509MutualAuthenticationWithSaml">
		<wsp:ExactlyOne>
			<wsp:All>    	
				<sp:AsymmetricBinding>
					<wsp:Policy>
						<sp:InitiatorToken>
							<wsp:Policy>
								<sp:X509Token
									sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
									<wsp:Policy>
										<sp:WssX509V3Token10 />
										<sp:RequireIssuerSerialReference />
									</wsp:Policy>
								</sp:X509Token>
							</wsp:Policy>
						</sp:InitiatorToken>
<!--
						<sp:RecipientToken>
							<wsp:Policy>
								<sp:X509Token
									sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/Never">
									<wsp:Policy>
										<sp:WssX509V3Token10 />
										<sp:RequireIssuerSerialReference />
									</wsp:Policy>
								</sp:X509Token>
							</wsp:Policy>
						</sp:RecipientToken>
-->
						<sp:Layout>
							<wsp:Policy>
								<sp:Strict />
							</wsp:Policy>
						</sp:Layout>
						<sp:IncludeTimestamp />
						<sp:OnlySignEntireHeadersAndBody />
						<sp:EncryptSignature />
						<sp:AlgorithmSuite>
							<wsp:Policy>
								<sp:Basic128 />
							</wsp:Policy>
						</sp:AlgorithmSuite>
					</wsp:Policy>
				</sp:AsymmetricBinding>
				<sp:Wss11>
					<wsp:Policy>
						<sp:MustSupportRefKeyIdentifier />
						<sp:MustSupportRefIssuerSerial />
						<sp:MustSupportRefThumbprint />
						<sp:MustSupportRefEncryptedKey />
						<sp:RequireSignatureConfirmation />
					</wsp:Policy>
				</sp:Wss11>
				<sp:SignedParts>
					<sp:Body />
				</sp:SignedParts>
				<sp:EncryptedParts>
					<sp:Body />
				</sp:EncryptedParts>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
	
	
  
    <wsdl:types>
        <schema targetNamespace="http://wsstemplates.wssecfvt.test/types" 
            xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
            <element name="getVer">
                <complexType>
                    <sequence>
                        <element name="requestType" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="getVerResponse">
                <complexType>
                    <sequence>
                        <element name="responseType" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
   	    <element name="faultDetail">
		<complexType>
			<sequence>
				<element name="minor" type="xsd:short"/>
				<element name="major" type="xsd:short"/>
			</sequence>
		</complexType>
	    </element>
        </schema>
    </wsdl:types>

    <wsdl:message name="getVerRequest">
        <wsdl:part element="x1:getVer" name="in"/>
    </wsdl:message>
    <wsdl:message name="getVerResponse">
        <wsdl:part element="x1:getVerResponse" name="out"/>
    </wsdl:message>

    <wsdl:portType name="WSSTemplates">
        <wsdl:operation name="invoke">
            <wsdl:input message="tns:getVerRequest" name="getVerRequest"/>
            <wsdl:output message="tns:getVerResponse" name="getVerResponse"/>
        </wsdl:operation>
    </wsdl:portType>        
    
    <wsdl:binding name="UrnWSSTemplatesSoapBinding2" type="tns:WSSTemplates">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="invoke">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getVerRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getVerResponse">
               <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>        
    </wsdl:binding>
        
    <wsdl:binding name="UrnWSSTemplatesSoapBinding4" type="tns:WSSTemplates">
        <wsp:PolicyReference URI="#AsymmetricX509MutualAuthenticationWithSaml" />
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="invoke">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getVerRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getVerResponse">
               <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>        
    </wsdl:binding>   
               
    <wsdl:binding name="UrnWSSTemplatesSoapBinding6" type="tns:WSSTemplates">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="invoke">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getVerRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getVerResponse">
               <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>        
    </wsdl:binding>
       
    <wsdl:service name="WSSTemplatesService2">
        <wsdl:port binding="tns:UrnWSSTemplatesSoapBinding2" name="WSSTemplate2">
            <soap:address location="http://localhost:8010/samlwsstemplates/WSSTemplatesService2"/>
        </wsdl:port>
    </wsdl:service>
        
    <wsdl:service name="WSSTemplatesService4">
        <wsdl:port binding="tns:UrnWSSTemplatesSoapBinding4" name="WSSTemplate4">
            <soap:address location="http://localhost:8010/samlwsstemplates/WSSTemplatesService4"/>
        </wsdl:port>
    </wsdl:service>    
        
    <wsdl:service name="WSSTemplatesService6">
        <wsdl:port binding="tns:UrnWSSTemplatesSoapBinding6" name="WSSTemplate6">
            <soap:address location="http://localhost:8010/samlwsstemplates/WSSTemplatesService6"/>
        </wsdl:port>
    </wsdl:service>
    
</wsdl:definitions>
