dev/com.ibm.ws.wssecurity_fat.wsscxf.1/override/autoFVT/cxfclient-policies/DeriveKeys/DeriveKey7MissingEncrypted.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="DeriveKey" 
    targetNamespace="http://derivekey.wssecfvt.test" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:tns="http://derivekey.wssecfvt.test"
    xmlns:x1="http://derivekey.wssecfvt.test/types"
    xmlns:di="http://derivekey.wssecfvt.test"
    xmlns:t="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
    xmlns:wsp="http://www.w3.org/ns/ws-policy"
    xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
    xmlns:wsaws="http://www.w3.org/2005/08/addressing" 
    xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
    xmlns:sp13="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200802">
  
    <wsp:Policy wsu:Id="DeriveKeySymmetricSignedEndorsingEncryptedPolicy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:SymmetricBinding>
                  <wsp:Policy>
                    <sp:ProtectionToken>
                       <wsp:Policy>
                          <sp:X509Token
                             sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                             <wsp:Policy>
                                <sp:WssX509V3Token10 />
                             </wsp:Policy>
                          </sp:X509Token>
                       </wsp:Policy>
                    </sp:ProtectionToken>
                    <sp:Layout>
                       <wsp:Policy>
                          <sp:Lax/>
                       </wsp:Policy>
                    </sp:Layout>
                    <sp:IncludeTimestamp/>
                    <sp:OnlySignEntireHeadersAndBody/>
                    <sp:AlgorithmSuite>
                       <wsp:Policy>
                          <sp:Basic128/>
                       </wsp:Policy>
                    </sp:AlgorithmSuite>
                 </wsp:Policy>
              </sp:SymmetricBinding>
              <sp:SignedEndorsingSupportingTokens>
                  <wsp:Policy>
                       <sp:UsernameToken
                            sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                            <wsp:Policy>
                               <sp:WssUsernameToken10/>
                               <sp:RequireDerivedKeys/>
                            </wsp:Policy>
                       </sp:UsernameToken>
                   </wsp:Policy>
              </sp:SignedEndorsingSupportingTokens>
              <sp:SignedParts>
                  <sp:Body/>
              </sp:SignedParts>
              <sp:EncryptedParts>
                  <sp:Body/>
              </sp:EncryptedParts>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>

    <wsdl:types>
        <schema targetNamespace="http://derivekey.wssecfvt.test/types" 
            xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
            <element name="getVer">
                <complexType>
                    <sequence>
                        <element name="requestType" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="getVerResponse">
                <complexType>
                    <sequence>
                        <element name="responseType" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
   	    <element name="faultDetail">
		<complexType>
			<sequence>
				<element name="minor" type="xsd:short"/>
				<element name="major" type="xsd:short"/>
			</sequence>
		</complexType>
	    </element>
        </schema>
    </wsdl:types>

    <wsdl:message name="getVerRequest">
        <wsdl:part element="x1:getVer" name="in"/>
    </wsdl:message>
    <wsdl:message name="getVerResponse">
        <wsdl:part element="x1:getVerResponse" name="out"/>
    </wsdl:message>
    
    <wsdl:portType name="DeriveKeyPortType">
        <wsdl:operation name="invoke">
            <wsdl:input message="tns:getVerRequest" name="getVerRequest"/>
            <wsdl:output message="tns:getVerResponse" name="getVerResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <wsdl:binding name="DeriveKeySymmetricSignedEndorsingEncryptedBinding" type="tns:DeriveKeyPortType">
        <wsp:PolicyReference URI="#DeriveKeySymmetricSignedEndorsingEncryptedPolicy" />
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="invoke">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getVerRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getVerResponse">
               <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    
    <wsdl:service name="DeriveKeyService7">
        <wsdl:port name="DeriveKeySymmetricSignedEndorsingEncryptedPort" 
                   binding="tns:DeriveKeySymmetricSignedEndorsingEncryptedBinding">
            <soap:address location="http://localhost:8010/derivekey/DeriveKeyService7" />
        </wsdl:port>
    </wsdl:service>
    
</wsdl:definitions>
