dev/com.ibm.ws.wssecurity_fat.wsscxf.3/test-applications/x509enc/resources/WEB-INF/X509XmlEnc2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="NoWssecWebSvc" targetNamespace="http://x509enc.wssecfvt.test" 
    xmlns="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:tns="http://x509enc.wssecfvt.test"
    xmlns:x1="http://x509enc.wssecfvt.test/types"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
    xmlns:wsp="http://www.w3.org/ns/ws-policy"
    xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
    xmlns:sp13="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200802"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                          
    <wsp:Policy wsu:Id="EncryptBeforeSign">
    
      <wsp:ExactlyOne>
         <wsp:All>
            <sp:AsymmetricBinding>
               <wsp:Policy>
               
                  <sp:InitiatorEncryptionToken>
                     <wsp:Policy>
                        <sp:X509Token
                           sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/Never">
                           <wsp:Policy>
                              <sp:RequireKeyIdentifierReference/>
                              <sp:WssX509V3Token10 />
                           </wsp:Policy>
                        </sp:X509Token>
                     </wsp:Policy>
                  </sp:InitiatorEncryptionToken>
                  
                  <sp:InitiatorSignatureToken>
                     <wsp:Policy>
                        <sp:X509Token
                           sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                           <wsp:Policy>
                              <sp:WssX509V3Token10 />
                           </wsp:Policy>
                        </sp:X509Token>
                     </wsp:Policy>
                  </sp:InitiatorSignatureToken>
                  
                  <sp:RecipientEncryptionToken>
                     <wsp:Policy>
                        <sp:X509Token
                           sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/Never">
                           <wsp:Policy>
                              <sp:RequireKeyIdentifierReference/>
                              <sp:WssX509V3Token10 />
                           </wsp:Policy>
                        </sp:X509Token>
                     </wsp:Policy>
                  </sp:RecipientEncryptionToken>
                                    
                  <sp:RecipientSignatureToken>
                     <wsp:Policy>
                        <sp:X509Token
                           sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToInitiator">
                           <wsp:Policy>
                              <sp:WssX509V3Token10 />
                           </wsp:Policy>
                        </sp:X509Token>
                     </wsp:Policy>
                  </sp:RecipientSignatureToken>
                                                   
                  <sp:AlgorithmSuite>
                     <wsp:Policy>
                        <sp:TripleDes/>
                     </wsp:Policy>
                  </sp:AlgorithmSuite>
                  <sp:Layout>
                     <wsp:Policy>
                        <sp:Strict/>
                     </wsp:Policy>
                  </sp:Layout>
                  <sp:OnlySignEntireHeadersAndBody/>
                  <sp:EncryptBeforeSigning/>
               </wsp:Policy>
            </sp:AsymmetricBinding>
            
            <sp:Wss10>
                <wsp:Policy>
                    <sp:MustSupportRefKeyIdentifier/>
                </wsp:Policy>
            </sp:Wss10>
            
            <sp:SignedParts>
               <sp:Body/>
            </sp:SignedParts>
            
            <sp:EncryptedParts>
               <sp:Body/>
            </sp:EncryptedParts>            
            
         </wsp:All>
      </wsp:ExactlyOne>
      
   </wsp:Policy>
          
   <wsp:Policy wsu:Id="EncryptWrongKeyAlgorithm">
                                            
       <wsp:ExactlyOne>
         <wsp:All>
            <sp:AsymmetricBinding>
               <wsp:Policy>
                  <sp:InitiatorEncryptionToken>
                     <wsp:Policy>
                        <sp:X509Token
                           sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/Never">
                           <wsp:Policy>
                              <sp:RequireKeyIdentifierReference/>
                              <sp:WssX509V3Token10 />
                           </wsp:Policy>
                        </sp:X509Token>
                     </wsp:Policy>
                  </sp:InitiatorEncryptionToken>
                  <sp:RecipientEncryptionToken>
                     <wsp:Policy>
                        <sp:X509Token
                           sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/Never">
                           <wsp:Policy>
                              <sp:RequireKeyIdentifierReference/>
                              <sp:WssX509V3Token10 />
                           </wsp:Policy>
                        </sp:X509Token>
                     </wsp:Policy>
                  </sp:RecipientEncryptionToken>
                                                   
                  <sp:AlgorithmSuite>
                     <wsp:Policy>
                        <sp:Basic128/>
                     </wsp:Policy>
                  </sp:AlgorithmSuite>
                  <sp:Layout>
                     <wsp:Policy>
                        <sp:Strict/>
                     </wsp:Policy>
                  </sp:Layout>
                  <sp:OnlySignEntireHeadersAndBody/>
               </wsp:Policy>
            </sp:AsymmetricBinding>
            
            <sp:EncryptedParts>
               <sp:Body/>
            </sp:EncryptedParts>
            
            <sp:Wss10>
               <wsp:Policy>
                  <sp:MustSupportRefKeyIdentifier/>
               </wsp:Policy>
            </sp:Wss10>
            
         </wsp:All>
      </wsp:ExactlyOne>
      
   </wsp:Policy>
   
   <wsp:Policy wsu:Id="EncryptWrongDataAlgorithm">
                                            
       <wsp:ExactlyOne>
         <wsp:All>
            <sp:AsymmetricBinding>
               <wsp:Policy>
                  <sp:InitiatorEncryptionToken>
                     <wsp:Policy>
                        <sp:X509Token
                           sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/Never">
                           <wsp:Policy>
                              <sp:RequireKeyIdentifierReference/>
                              <sp:WssX509V3Token10 />
                           </wsp:Policy>
                        </sp:X509Token>
                     </wsp:Policy>
                  </sp:InitiatorEncryptionToken>
                  <sp:RecipientEncryptionToken>
                     <wsp:Policy>
                        <sp:X509Token
                           sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/Never">
                           <wsp:Policy>
                              <sp:RequireKeyIdentifierReference/>
                              <sp:WssX509V3Token10 />
                           </wsp:Policy>
                        </sp:X509Token>
                     </wsp:Policy>
                  </sp:RecipientEncryptionToken>
                                                   
                  <sp:AlgorithmSuite>
                     <wsp:Policy>
                        <sp:Basic128Rsa15/>
                     </wsp:Policy>
                  </sp:AlgorithmSuite>
                  <sp:Layout>
                     <wsp:Policy>
                        <sp:Strict/>
                     </wsp:Policy>
                  </sp:Layout>
                  <sp:OnlySignEntireHeadersAndBody/>
               </wsp:Policy>
            </sp:AsymmetricBinding>
            
            <sp:EncryptedParts>
               <sp:Body/>
            </sp:EncryptedParts>
            
            <sp:Wss10>
               <wsp:Policy>
                  <sp:MustSupportRefKeyIdentifier/>
               </wsp:Policy>
            </sp:Wss10>
            
         </wsp:All>
      </wsp:ExactlyOne>
      
   </wsp:Policy>
            
    <wsdl:types>
        <schema targetNamespace="http://x509enc.wssecfvt.test/types" 
            xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
            <element name="getVer">
                <complexType>
                    <sequence>
                        <element name="requestType" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="getVerResponse">
                <complexType>
                    <sequence>
                        <element name="responseType" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
   	    <element name="faultDetail">
		<complexType>
			<sequence>
				<element name="minor" type="xsd:short"/>
				<element name="major" type="xsd:short"/>
			</sequence>
		</complexType>
	    </element>
        </schema>
    </wsdl:types>

    <wsdl:message name="getVerRequest">
        <wsdl:part element="x1:getVer" name="in"/>
    </wsdl:message>
    <wsdl:message name="getVerResponse">
        <wsdl:part element="x1:getVerResponse" name="out"/>
    </wsdl:message>

    <wsdl:portType name="XmlEnc2">
        <wsdl:operation name="invoke">
            <wsdl:input message="tns:getVerRequest" name="getVerRequest"/>
            <wsdl:output message="tns:getVerResponse" name="getVerResponse"/>
        </wsdl:operation>
    </wsdl:portType>
     
    <wsdl:binding name="UrnXmlEnc7SoapBinding" type="tns:XmlEnc2">
        <wsp:PolicyReference URI="#EncryptWrongKeyAlgorithm" />
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="invoke">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getVerRequest">
               <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getVerResponse">
               <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        
    </wsdl:binding>
    
    <wsdl:binding name="UrnXmlEnc8SoapBinding" type="tns:XmlEnc2">
        <wsp:PolicyReference URI="#EncryptWrongDataAlgorithm" />
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="invoke">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getVerRequest">
               <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getVerResponse">
               <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        
    </wsdl:binding>
    
    <wsdl:binding name="UrnXmlEnc10SoapBinding" type="tns:XmlEnc2">
        <wsp:PolicyReference URI="#EncryptBeforeSign" />
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="invoke">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getVerRequest">
               <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getVerResponse">
               <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        
    </wsdl:binding>
    
    <wsdl:service name="X509XmlEncService7">
        <wsdl:port binding="tns:UrnXmlEnc7SoapBinding" name="UrnX509Enc7">
            <soap:address location="http://localhost:8010/x509enc/X509XmlEncService7"/>
        </wsdl:port>
    </wsdl:service>
    
    <wsdl:service name="X509XmlEncService8">
        <wsdl:port binding="tns:UrnXmlEnc8SoapBinding" name="UrnX509Enc8">
            <soap:address location="http://localhost:8010/x509enc/X509XmlEncService8"/>
        </wsdl:port>
    </wsdl:service>
    
    <wsdl:service name="X509XmlEncService9">
        <wsdl:port binding="tns:UrnXmlEnc7SoapBinding" name="UrnX509Enc9">
            <soap:address location="http://localhost:8010/x509enc/X509XmlEncService9"/>
        </wsdl:port>
    </wsdl:service>
    
     <wsdl:service name="X509XmlEncService10">
        <wsdl:port binding="tns:UrnXmlEnc10SoapBinding" name="UrnX509Enc10">
            <soap:address location="http://localhost:8010/x509enc/X509XmlEncService10"/>
        </wsdl:port>
    </wsdl:service>
                      
</wsdl:definitions>
