dev/com.ibm.ws.wsat.recovery_fat.single/test-applications/recoveryServer/resources/WEB-INF/wsdl/RecoveryService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:tns="http://server.fat.wsat.ws.ibm.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="WSATSimpleService" 
	targetNamespace="http://server.fat.wsat.ws.ibm.com/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
	xmlns:wsat="http://docs.oasis-open.org/ws-tx/wsat/2006/06" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
	xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
	<wsp:Policy wsu:Id="TransactedPolicy">
		<wsat:ATAssertion/>
	</wsp:Policy>
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://server.fat.wsat.ws.ibm.com/" elementFormDefault="unqualified" targetNamespace="http://server.fat.wsat.ws.ibm.com/" version="1.0">
<xs:element name="invoke" type="tns:invoke"/>
<xs:element name="invokeResponse" type="tns:invokeResponse"/>
<xs:complexType name="invoke">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="invokeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>  </wsdl:types>
  <wsdl:message name="invokeResponse">
    <wsdl:part element="tns:invokeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="invoke">
    <wsdl:part element="tns:invoke" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Recovery">
    <wsdl:operation name="invoke">
      <wsdl:input message="tns:invoke" name="invoke">
    </wsdl:input>
      <wsdl:output message="tns:invokeResponse" name="invokeResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RecoveryServiceSoapBinding" type="tns:Recovery">
  <wsp:PolicyReference URI="#TransactedPolicy"
				wsdl:required="true" />
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="invoke">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="invoke">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="invokeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RecoveryService">
    <wsdl:port binding="tns:RecoveryServiceSoapBinding" name="RecoveryPort">
      <soap:address location="http://localhost:8010/recoveryServer/RecoveryService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>