dev/com.ibm.ws.jaxws.ejb_fat/test-applications/EJBWSBasic/resources/META-INF/wsdl/UserQueryService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
xmlns:wsp="http://www.w3.org/ns/ws-policy"
xmlns:wsa="http://www.w3.org/2005/08/addressing"
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ejbbasic.jaxws.ws.ibm.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="UserQueryService" targetNamespace="http://ejbbasic.jaxws.ws.ibm.com/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ejbbasic.jaxws.ws.ibm.com/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://ejbbasic.jaxws.ws.ibm.com/">
  <xs:element name="getUser" type="tns:getUser"/>
  <xs:element name="getUserResponse" type="tns:getUserResponse"/>
  <xs:element name="listUsers" type="tns:listUsers"/>
  <xs:element name="listUsersResponse" type="tns:listUsersResponse"/>
  <xs:complexType name="getUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getUserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:user"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="user">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="registerDate" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listUsers">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="listUsersResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:user"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserNotFoundException" type="tns:UserNotFoundException"/>
  <xs:complexType name="UserNotFoundException">
    <xs:sequence>
      <xs:element name="message" nillable="true" type="xs:string"/>
      <xs:element name="userName" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>  </wsdl:types>
  <wsdl:message name="listUsers">
    <wsdl:part element="tns:listUsers" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listUsersResponse">
    <wsdl:part element="tns:listUsersResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UserNotFoundException">
    <wsdl:part element="tns:UserNotFoundException" name="UserNotFoundException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserResponse">
    <wsdl:part element="tns:getUserResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUser">
    <wsdl:part element="tns:getUser" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="UserQuery">
    <wsdl:operation name="getUser">
      <wsdl:input message="tns:getUser" name="getUser" wsam:Action="getUserInput" >
    </wsdl:input>
      <wsdl:output message="tns:getUserResponse" name="getUserResponse" wsam:Action="getUserOutput" >
    </wsdl:output>
      <wsdl:fault message="tns:UserNotFoundException" name="UserNotFoundException" >
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="listUsers">
      <wsdl:input message="tns:listUsers" name="listUsers" wsam:Action="listUsersInput">
    </wsdl:input>
      <wsdl:output message="tns:listUsersResponse" name="listUsersResponse" wsam:Action="listUsersOutput">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserQueryServiceSoapBinding" type="tns:UserQuery">
      <wsp:Policy>
      <wsam:Addressing wsp:Optional="true">
        <wsp:Policy/>
      </wsam:Addressing>
    </wsp:Policy>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getUser" wsam:Action="getUserInput">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getUserResponse" wsam:Action="getUserOutput">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UserNotFoundException">
        <soap:fault name="UserNotFoundException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="listUsers" >
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="listUsers" wsam:Action="listUsersInput">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="listUsersResponse" wsam:Action="listUsersOutput">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserQueryService">
    <wsdl:port binding="tns:UserQueryServiceSoapBinding" name="UserQueryPort">
      <soap:address location="http://localhost:9080/EJBWSBasic/UserQueryService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>