dev/com.ibm.ws.jaxws.2.2.webcontainer_fat/test-applications/webServiceRefFeatures/resources/wsdl/image.wsdl

<?xml version="1.0" ?><wsdl:definitions name="ImageServiceImplService" targetNamespace="http://jaxws.service/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://jaxws.service/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://jaxws.service/" version="1.0" xmlns:tns="http://jaxws.service/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="uploadImage" type="tns:uploadImage"></xs:element>
<xs:element name="uploadImageResponse" type="tns:uploadImageResponse"></xs:element>
<xs:complexType name="uploadImage">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="arg1" type="xs:base64Binary"></xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="uploadImageResponse">
    <xs:sequence></xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="uploadImageResponse">
    <wsdl:part element="tns:uploadImageResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="uploadImage">
    <wsdl:part element="tns:uploadImage" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ImageService">
    <wsdl:operation name="uploadImage">
      <wsdl:input message="tns:uploadImage" name="uploadImage">
    </wsdl:input>
      <wsdl:output message="tns:uploadImageResponse" name="uploadImageResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ImageServiceTwo">
    <wsdl:operation name="uploadImage">
      <wsdl:input message="tns:uploadImage" name="uploadImage">
    </wsdl:input>
      <wsdl:output message="tns:uploadImageResponse" name="uploadImageResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ImageServiceImplServiceSoapBinding" type="tns:ImageService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <wsdl:operation name="uploadImage">
      <soap:operation soapAction="urn:UploadImage" style="document"></soap:operation>
      <wsdl:input name="uploadImage">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="uploadImageResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ImageServiceImplServiceSoapBindingTwo" type="tns:ImageServiceTwo">
    <wswa:UsingAddressing xmlns:wswa="http://www.w3.org/2005/02/addressing/wsdl"/>
    <wsp:Policy>
      <wsam:Addressing wsp:Optional="true">
        <wsp:Policy/>
      </wsam:Addressing>
    </wsp:Policy>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <wsdl:operation name="uploadImage">
      <soap:operation soapAction="urn:UploadImage" style="document"></soap:operation>
      <wsdl:input name="uploadImage">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="uploadImageResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ImageServiceImplService">
    <wsdl:port binding="tns:ImageServiceImplServiceSoapBinding" name="ImageServiceImplPort">
      <soap:address location="http://localhost:8010/webServiceRefFeatures/image"></soap:address>
    </wsdl:port>
  </wsdl:service>
  <wsdl:service name="ImageServiceImplServiceTwo">
    <wsdl:port binding="tns:ImageServiceImplServiceSoapBindingTwo" name="ImageServiceImplPortTwo">
      <soap:address location="http://localhost:8010/webServiceRefFeatures/image"></soap:address>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>