dev/com.ibm.ws.wssecurity_fat.wsscxf.saml/publish/servers/com.ibm.ws.wssecurity_fat.saml.ssl/resources/security/BasicPlcyBA.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions
	targetNamespace="http://wssec.basicssl.cxf.fats"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:apachesoap="http://xml.apache.org/xml-soap"
	xmlns:tsslns="http://wssec.basicssl.cxf.fats"
	xmlns:x1="http://wssec.basicssl.cxf.fats/types"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsp="http://www.w3.org/ns/ws-policy"
	xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
	xmlns:sp13="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200802"
	xmlns:cxf="http://cxf.apache.org/core"
	xmlns:p="http://cxf.apache.org/policy"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
>

	<!-- 2.1.1.1 UsernameToken with plain text password -->
	<wsp:Policy wsu:Id="UserNameToken1s">
		<sp:SupportingTokens>
			<wsp:Policy>
				<sp:UsernameToken
					sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient"
				>
					<wsp:Policy>
						<sp:WssUsernameToken11 />
						<!-- sp13:Created/ -->
					</wsp:Policy>
				</sp:UsernameToken>
			</wsp:Policy>
		</sp:SupportingTokens>
	</wsp:Policy>

	<wsp:Policy wsu:Id="UserNameToken6s">
		<wsp:ExactlyOne>
			<wsp:All>
				<sp:TransportBinding>
					<wsp:Policy>
						<sp:TransportToken>
							<wsp:Policy>
								<sp:HttpsToken>
									<wsp:Policy>
										<!-- sp:RequireClientCertificate / -->
									</wsp:Policy>
								</sp:HttpsToken>
							</wsp:Policy>
						</sp:TransportToken>
						<sp:Layout>
							<wsp:Policy>
								<sp:Lax />
							</wsp:Policy>
						</sp:Layout>
						<!-- sp:IncludeTimestamp/ -->
						<sp:AlgorithmSuite>
							<wsp:Policy>
								<sp:Basic128 />
							</wsp:Policy>
						</sp:AlgorithmSuite>
					</wsp:Policy>
				</sp:TransportBinding>
				<sp:SupportingTokens>
					<wsp:Policy>
						<sp:UsernameToken
							sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient"
						>
							<wsp:Policy>
								<sp:WssUsernameToken10 />
								<sp13:Created />
							</wsp:Policy>
						</sp:UsernameToken>
					</wsp:Policy>
				</sp:SupportingTokens>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>

	<wsdl:types>
		<xsd:schema targetNamespace="http://wssec.basicssl.cxf.fats/types">
			<xsd:element name="requestString">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element
							name="stringreq"
							type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="responseString">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element
							name="stringres"
							type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="getVersionRequest">
		<wsdl:part
			element="x1:requestString"
			name="getVersion" />
	</wsdl:message>
	<wsdl:message name="getVersionResponse">
		<wsdl:part
			element="x1:responseString"
			name="getVersionReturn" />
	</wsdl:message>

	<wsdl:portType name="FVTVersionBA">
		<wsdl:operation name="invoke">
			<wsdl:input
				message="tsslns:getVersionRequest"
				name="getVersionRequest" />
			<wsdl:output
				message="tsslns:getVersionResponse"
				name="getVersionResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding
		name="UrnBasicPlcyBASoapBinding"
		type="tsslns:FVTVersionBA"
	>
		<wsp:PolicyReference URI="#UserNameToken1s" />
		<wsdlsoap:binding
			style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="invoke">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getVersionRequest">
				<wsdlsoap:body use="literal" />
				<wsp:PolicyReference URI="#UserNameToken1s" />
			</wsdl:input>
			<wsdl:output name="getVersionResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="FVTVersionBAService">
		<wsdl:port
			name="UrnBasicPlcyBA"
			binding="tsslns:UrnBasicPlcyBASoapBinding"
		>
			<wsdlsoap:address
				location="https://localhost:8020/untoken/FVTVersionBAService" />
		</wsdl:port>
	</wsdl:service>

	<wsdl:binding
		name="UrnBasicPlcyBA6SoapBinding"
		type="tsslns:FVTVersionBA"
	>
		<wsp:PolicyReference URI="#UserNameToken6s" />
		<wsdlsoap:binding
			style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="invoke">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getVersionRequest">
				<wsdlsoap:body use="literal" />
				<wsp:PolicyReference URI="#UserNameToken6s" />
			</wsdl:input>
			<wsdl:output name="getVersionResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="FVTVersionBA6Service">
		<wsdl:port
			name="UrnBasicPlcyBA6"
			binding="tsslns:UrnBasicPlcyBA6SoapBinding"
		>
			<wsdlsoap:address
				location="https://localhost:8020/untoken/FVTVersionBA6Service" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>


