dev/io.openliberty.xmlBinding.4.0.internal_fat/publish/servers/jaxb_fat/schemaEE10.xml

<?xml version="1.0" standalone="yes"?>
<xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="http://jaxb.web.dataobjects/" xmlns:swaRef="http://ws-i.org/profiles/basic/1.1/xsd" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:tns="http://jaxb.web.dataobjects/" xmlns:ns0="http://jaxb.web.dataobjects/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:import namespace="http://ws-i.org/profiles/basic/1.1/xsd" schemaLocation="http://ws-i.org/profiles/basic/1.1/swaref.xsd"/>
  <xs:import namespace="http://www.w3.org/2005/05/xmlmime" schemaLocation="http://www.w3.org/2005/05/xmlmime"/>
  <xs:element name="Image" type="tns:Image"/>

  <xs:element name="Items" type="tns:Items"/>

  <xs:element name="PurchaseOrderType" type="tns:PurchaseOrderType"/>

  <xs:element name="ShippingAddress" type="tns:ShippingAddress"/>

  <xs:element name="items" type="tns:Items"/>

  <xs:complexType name="Image">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="imageHandler" xmime:expectedContentTypes="application/octet-stream" type="swaRef:swaRef" minOccurs="0"/>
      <xs:element name="imageBytes" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Items">
    <xs:sequence>
      <xs:element name="item" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="productName" type="xs:string"/>
            <xs:element name="quantity" type="xs:int"/>
            <xs:element name="Price" type="xs:decimal"/>
            <xs:element name="comment" type="xs:string" minOccurs="0"/>
            <xs:element name="shipDate" type="xs:date" minOccurs="0"/>
          </xs:sequence>
          <xs:attribute name="partNum" type="xs:string" use="required"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="itemNames" minOccurs="0">
        <xs:simpleType>
          <xs:list itemType="xs:string"/>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PurchaseOrderType">
    <xs:sequence>
      <xs:element name="shipTo" type="tns:ShippingAddress"/>
      <xs:element name="billTo" type="tns:ShippingAddress"/>
      <xs:element name="comment" type="xs:string" minOccurs="0"/>
      <xs:element ref="tns:items"/>
    </xs:sequence>
    <xs:attribute name="orderDate" type="xs:date"/>
  </xs:complexType>

  <xs:complexType name="ShippingAddress">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="street" type="xs:string"/>
      <xs:element name="city" type="xs:string"/>
      <xs:element name="state" type="xs:string"/>
      <xs:element name="zip" type="xs:decimal"/>
    </xs:sequence>
    <xs:attribute name="country" type="xs:NMTOKEN"/>
  </xs:complexType>
</xs:schema>
