dev/com.ibm.ws.jsf.2.2/resources/org/apache/myfaces/resource/web-facelettaglibrary_2_0.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
 
 $Id: web-facelettaglibrary_2_0.xsd 796947 2009-07-23 05:10:10Z lu4242 $
-->

<!--
  ** This XSD contains only the programatic elements required for an implementation.
  ** For the XSD from Sun that includes documentation and other copyrighted information
  ** please refer to the latest XSD at :
  ** http://java.sun.com/xml/ns/javaee/web-facelettaglibrary_2_0.xsd
-->

<xsd:schema 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:javaee="http://java.sun.com/xml/ns/javaee"
    xmlns:xml="http://www.w3.org/XML/1998/namespace"
    attributeFormDefault="unqualified"
    elementFormDefault="qualified" 
    targetNamespace="http://java.sun.com/xml/ns/javaee"
    version="2.0">

    <xsd:include schemaLocation="javaee_5.xsd"/>
    
    <xsd:element name="facelet-taglib" type="javaee:facelet-taglibType">
        <xsd:unique name="facelet-taglib-tagname-uniqueness">
            <xsd:selector xpath="javaee:tag"/>
            <xsd:field xpath="javaee:tag-name"/>
        </xsd:unique>
        <xsd:unique name="faces-config-behavior-ID-uniqueness">
            <xsd:selector xpath="javaee:behavior"/>
            <xsd:field xpath="javaee:behavior-id"/>
        </xsd:unique>
        <xsd:unique name="faces-config-converter-ID-uniqueness">
            <xsd:selector xpath="javaee:converter"/>
            <xsd:field xpath="javaee:converter-id"/>
        </xsd:unique>
        <xsd:unique name="faces-config-validator-ID-uniqueness">
            <xsd:selector xpath="javaee:validator"/>
            <xsd:field xpath="javaee:validator-id"/>
        </xsd:unique>
    </xsd:element>
    
    <xsd:complexType name="facelet-taglibType">
        <xsd:sequence>
            <xsd:group ref="javaee:descriptionGroup" />
            <xsd:choice>
                <xsd:element name="library-class" type="javaee:fully-qualified-classType" />
                <xsd:sequence>
                    <xsd:element name="namespace" type="javaee:string"/>
                    <!-- Composite library name should be javaee:string 
                         but on the spec is javaee:fully-qualified-classType,
                         we let it as it should be -->
                    <xsd:element name="composite-library-name" maxOccurs="1" minOccurs="0" 
                                 type="javaee:string"/>
                    <xsd:choice maxOccurs="unbounded" minOccurs="0" >
                        <xsd:element name="tag" type="javaee:facelet-taglib-tagType"/>
                        <xsd:element name="function" type="javaee:facelet-taglib-functionType"/>
                    </xsd:choice>
                </xsd:sequence>
            </xsd:choice>
            <xsd:element name="taglib-extension" type="javaee:facelet-taglib-extensionType"
                         maxOccurs="unbounded" minOccurs="0" />
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:ID"/>
        <xsd:attribute name="version" type="javaee:facelet-taglib-versionType" use="required"/>
    </xsd:complexType>
    
    <xsd:complexType name="facelet-taglib-tagType">
        <xsd:sequence>
            <xsd:group ref="javaee:descriptionGroup" />
            <xsd:element name="tag-name" type="javaee:facelet-taglib-canonical-nameType"/>
                <xsd:choice>
                    <xsd:element name="handler-class" type="javaee:fully-qualified-classType"/>
                    <xsd:element name="behavior" type="javaee:facelet-taglib-tag-behaviorType"/>
                    <xsd:element name="component" type="javaee:facelet-taglib-tag-componentType"/>
                    <xsd:element name="converter" type="javaee:facelet-taglib-tag-converterType"/>
                    <xsd:element name="validator" type="javaee:facelet-taglib-tag-validatorType"/>
                    <xsd:element name="source" type="javaee:string"/>
                </xsd:choice>
                <xsd:element name="attribute" type="javaee:facelet-taglib-tag-attributeType"
                        maxOccurs="unbounded" minOccurs="0"/>
                <xsd:element name="tag-extension" type="javaee:facelet-taglib-tag-extensionType"
                        maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="facelet-taglib-canonical-nameType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:NCName">
                <xsd:attribute name="id" type="xsd:ID"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    
    <xsd:complexType name="facelet-taglib-tag-behaviorType">
        <xsd:sequence>
        <xsd:group ref="javaee:descriptionGroup"/>
        <xsd:element name="behavior-id" maxOccurs="1" minOccurs="1" type="javaee:string"/>
        <xsd:element name="handler-class" maxOccurs="1" minOccurs="0" type="javaee:fully-qualified-classType"/>
        <xsd:element name="behavior-extension" minOccurs="0" maxOccurs="unbounded"
                     type="javaee:facelet-taglib-tag-behavior-extensionType"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="facelet-taglib-tag-behavior-extensionType">
        <xsd:sequence>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:ID"/>
    </xsd:complexType>
    
    <xsd:complexType name="facelet-taglib-tag-componentType">
        <xsd:sequence>
            <xsd:group ref="javaee:descriptionGroup"/>
            <xsd:element name="component-type" type="javaee:string"/>
            <xsd:element name="renderer-type" maxOccurs="1" minOccurs="0" type="javaee:string"/>
            <xsd:element name="handler-class" maxOccurs="1" minOccurs="0" type="javaee:fully-qualified-classType"/>
            <xsd:element name="component-extension" minOccurs="0" maxOccurs="unbounded"
                         type="javaee:facelet-taglib-tag-component-extensionType"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="facelet-taglib-tag-component-extensionType">
        <xsd:sequence>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:ID"/>
    </xsd:complexType>
    
    <xsd:complexType name="facelet-taglib-tag-converterType">
        <xsd:sequence>
            <xsd:group ref="javaee:descriptionGroup"/>
            <xsd:element name="converter-id" maxOccurs="1" minOccurs="1" type="javaee:string"/>
            <xsd:element name="handler-class" maxOccurs="1" minOccurs="0" type="javaee:fully-qualified-classType"/>
            <xsd:element name="converter-extension" minOccurs="0" maxOccurs="unbounded"
                         type="javaee:facelet-taglib-tag-converter-extensionType"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="facelet-taglib-tag-converter-extensionType">
        <xsd:sequence>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:ID"/>
    </xsd:complexType>
    
    <xsd:complexType name="facelet-taglib-tag-validatorType">
        <xsd:sequence>
            <xsd:group ref="javaee:descriptionGroup"/>
            <xsd:element name="validator-id" maxOccurs="1" minOccurs="1" type="javaee:string"/>
            <xsd:element name="handler-class" maxOccurs="1" minOccurs="0" type="javaee:fully-qualified-classType"/>
            <xsd:element name="validator-extension" minOccurs="0" maxOccurs="unbounded" 
                         type="javaee:facelet-taglib-tag-validator-extensionType"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="facelet-taglib-tag-validator-extensionType">
        <xsd:sequence>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:ID"/>
    </xsd:complexType>
    
    <xsd:complexType name="facelet-taglib-tag-attributeType">
        <xsd:sequence>
            <xsd:group ref="javaee:descriptionGroup"/>
            <xsd:element name="name" type="javaee:xsdNMTOKENType"/>
            <xsd:element name="required" minOccurs="0" type="javaee:generic-booleanType"/>
            <xsd:choice>
              <xsd:element name="type" minOccurs="0" type="javaee:fully-qualified-classType"/>
              <xsd:element name="method-signature" minOccurs="0" type="javaee:string"/>
            </xsd:choice>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:ID"/>
    </xsd:complexType>

    <xsd:complexType name="facelet-taglib-tag-extensionType">
        <xsd:sequence>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:ID"/>
    </xsd:complexType>
    
    <xsd:complexType name="facelet-taglib-extensionType">
        <xsd:sequence>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:ID"/>
    </xsd:complexType>
    
    <xsd:complexType name="facelet-taglib-functionType">
        <xsd:sequence>
            <xsd:group ref="javaee:descriptionGroup"/>
            <xsd:element name="function-name" type="javaee:string"/>
            <xsd:element name="function-class" type="javaee:fully-qualified-classType"/>
            <xsd:element name="function-signature" type="javaee:string"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:simpleType name="facelet-taglib-versionType">
        <xsd:restriction base="xsd:token">
            <xsd:enumeration value="2.0"/>
        </xsd:restriction>
    </xsd:simpleType>    
</xsd:schema>