dev/com.ibm.ws.wsat.webservice/resources/META-INF/wsdl/wstx-wsat-1.1-schema-200701.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) OASIS Open 2006.  -->
<xsd:schema targetNamespace="http://docs.oasis-open.org/ws-tx/wsat/2006/06" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsat="http://docs.oasis-open.org/ws-tx/wsat/2006/06" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
    <xsd:complexType name="Notification">
        <xsd:sequence>
            <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:anyAttribute namespace="##other" processContents="lax"/>
    </xsd:complexType>
    <xsd:element name="Prepare" type="wsat:Notification"/>
    <xsd:element name="Prepared" type="wsat:Notification"/>
    <xsd:element name="Aborted" type="wsat:Notification"/>
    <xsd:element name="ReadOnly" type="wsat:Notification"/>
    <xsd:element name="Commit" type="wsat:Notification"/>
    <xsd:element name="Rollback" type="wsat:Notification"/>
    <xsd:element name="Committed" type="wsat:Notification"/>
    <xsd:simpleType name="ErrorCodes">
        <xsd:restriction base="xsd:QName">
            <xsd:enumeration value="wsat:InconsistentInternalState"/>
            <xsd:enumeration value="wsat:UnknownTransaction"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <!-- Policy assertion -->
    <xsd:element name="ATAssertion">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded" />
            </xsd:sequence>
            <xsd:anyAttribute namespace="##other" processContents="lax" />
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
